#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# Reset search-index by deleting it every time
preprocess do
  File.delete("output/search-index.json") if File.exists?("output/search-index.json")
end

compile '/static/*' do
end

compile '/CNAME/' do
end


#about  关于我们
compile '/about/*' do
  filter :kramdown, :toc_levels => [2]
  filter :erb
  layout 'about'
end 

compile '/docs/baas/*' do
end
compile '/docs/downloads/*' do
end
compile '/docs/empush/*' do
end
compile '/docs/emuser/*' do
end
compile '/docs/usergrid/*' do
end

# 文档
compile '/docs/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  filter :colorize_syntax,
         :colorizers => {:java => :rouge,
                        :objective_c => :rouge,
                        :javascript => :rouge
                        }
  layout item[:layout] || 'docs'
end


# 单独处理，是为了让此页面下能正常展示html标签给用户看
compile '/console/app_profile/*' do
  layout item[:layout] || 'console'
end

# console
compile '/console/*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  filter :colorize_syntax,
         :colorizers => {:java => :rouge,
                        :objective_c => :rouge,
                        :javascript => :rouge
                        }
  layout item[:layout] || 'console'
end

compile '*' do
  filter :erb
  filter :kramdown, :toc_levels => [2]
  filter :colorize_syntax,
         :colorizers => {:java => :rouge,
                        :objective_c => :rouge,
                        :javascript => :rouge
                        }
  layout item[:layout] || 'default'
end

route '/static/*' do
  item.identifier[7..-2]
end


route '/CNAME/' do
  '/CNAME'
end


# 放什么，就输出什么对应的html文件
route '/docs/baas/*' do
  item.identifier.chop + ('.' + item[:extension])
end
route '/docs/downloads/*' do
  item.identifier.chop + '.html'
end
route '/docs/empush/*' do
  item.identifier + 'index.html'
end
route '/docs/emuser/*' do
  item.identifier.chop + '.html'
end
route '/docs/usergrid/*' do
  item.identifier.chop + '.html'
end


route '/console/app_profile/*' do
  item.identifier + 'index.html'
end


route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
