@charset "UTF-8";
/* WP Typography */
#content p, #content hr, #content ul, #content ol, 
#content dl, #content dd, #content table, #content blockquote {margin-bottom:15px;}
#content p:last-child {margin-bottom:0;}
#content hr {height:1px;border:0px;background-color:#e7e7e7;}
#content h1, #content h2, #content h3, #content h4, 
#content h5, #content h6 {display:block;margin-bottom:15px;line-height:1.2em;}
#content h1 {
	font-size:35px;
	font-family:Helvetica-Light, Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-weight:normal;
	line-height:1.35em !important;
}
#content h2 {font-size:30px;font-weight:normal;font-family:Helvetica-Light, Helvetica, Arial, Tahoma, Verdana, sans-serif;}
#content h3 {font-size:25px;}
#content h4 {font-size:20px;}
#content h5 {font-size:15px;}
#content h6 {font-size:13px;}
#content a {color:#0080B1;text-decoration:underline;}
#content a:hover {color:#007dfb;text-decoration:none;}
#content a:active {color:#004b95;}
#content img {/*max-width:100%;*/}
#content img.alignright {float:right;margin:4px 0 12px 20px;}
#content img.alignleft {float:left;margin:4px 20px 12px 0;}
#content img.aligncenter {display:block;margin:0 auto 12px;}
#content .wp-caption {float:right;max-width:632px !important;margin:0 0 0 20px;text-align:right;line-height:20px;}
#content .wp-caption img {margin:5px 5px 0;}
#content h6.wp-caption-text {color:#969696;margin:0 5px;}
#content dl dt {font-weight:bold;}
#content ol li {margin:5px 0 5px 18px;}
#content ol li ol, #content ol ol {margin-bottom:0;list-style:upper-alpha;}
#content ul, ol {margin-left:20px;}
#content ul li {background:url(../img/point.png) no-repeat 0 9px;padding-left:18px;margin:5px 0;}
#content ul li ul, #content ul ul {margin-bottom:0;margin-left:0px;}
#content ol li ol, #content ol ol {margin-bottom:0;margin-left:5px;}
#content table tr th {background:#f2f7fc;border:1px solid #dbdacf;padding:8px 20px;}
#content table tr td {border:1px solid #dbdacf;padding:8px 20px;}
#content sub, sup {font-size:.7em;}
#content sub {vertical-align:sub;}
#content sup {vertical-align:super;}
#content del {text-decoration:line-through;}
#content abbr {border-bottom:1px dotted #666;cursor:help;}
#content ins {background:#dfedc8;line-height:5px;text-decoration:none;}
#content code {background:#f2f7fc;font-family:Monaco, Consolas, monospace;}
#content pre { 
	background:#f2f7fc;
	overflow:auto;
	padding:10px 30px;
	white-space:pre;
	font:15px/20px 'Courier New', Courier, monospace;
	margin:20px 0 35px;
}
#content blockquote {padding:0 30px;font-style:italic;}
#content blockquote cite {font-style:normal;}