/* Allface v1.0 (http://allface.jui.org) */

/* 重置让所有浏览器默认的样式保持一致性 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}audio,canvas,progress,video{display:inline-block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}


/* 设置默认字体，并且在用户调整窗口大小时，字体大小做相应调整，一般通常在手机竖屏和横屏比较有效 */
html {
	font-family:"Microsoft YaHei";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.container:after, .clearfix:after {display:block;content:"";clear:both;}
.container, .clearfix {display:block;*zoom:1;}

*:before, *:after {box-sizing:border-box;}

.container {padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;}

@media (min-width: 768px) {
	.container {width:750px;}
}
@media (min-width: 992px) {
	.container {width: 970px;}
}
@media (min-width: 1200px) {
	.container {width: 1020px;}
}

a {text-decoration:none;}

.nav {}
.nav li {float:left;display:block;position:relative;}
.nav li a {display:block;position:relative;}