@charset "UTF-8";

body {padding-top:74px;font-family:"Microsoft YaHei";}

/* Header */
#header {width:100%;position:fixed;top:0;left:0;z-index:900;}
#global-nav {height:74px;background-color:rgba(250,250,250,0.95);}
#logo {float:left;overflow:hidden;width:120px;height:74px;margin:0;padding:0;background:url("../images/logo.png");}
#logo a {display:block;overflow:hidden;width:120px;height:74px;text-indent:-1000px;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
	#logo {background-image:url("../images/logo@2x.png");background-size:100% 100%;}
}
#global-nav .toggle {display:none;}
.nav-inner {float:right;}
.nav-inner ul {float:left;}
#global-nav li {height:74px;line-height:68px;position:relative;}
#global-nav li a {padding:3px 5px;color:#0d5878;text-decoration:none;font-family:"Microsoft YaHei";}
#global-nav li a:hover, #global-nav li.current a {padding:3px 5px 0px 5px;border-bottom:solid 3px #0d5878;}
/*#global-nav li .dropbox {display:none;}
#global-nav li .dropbox .box-i {width:10px;height:10px;background:#0d5878;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg); position:absolute;top:-5px;left:65px;}*/
#global-nav li ul {display:none;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#0d5878;position:absolute;top:100%;left:-50%;}
#global-nav li li {float:none;margin:0;padding:0;height:auto;}
#global-nav li li a, #global-nav li.current li a {display:block;line-height:32px;padding:2px 20px;border:none;white-space:nowrap;font-size:14px;color:#fff;}
#global-nav li li a:hover {padding:2px 20px;border:none;background:#0ad;}



#global-nav .button-bar {margin-left:10px;}
#global-nav .button-bar li {padding:22px 0 0 0;height:30px;line-height:30px;}
#global-nav .button-bar li a {height:30px;line-height:30px;border-radius:3px;padding:0 20px;color:#fff;}
#global-nav .button-bar li a:hover {border-bottom:none;}
#global-nav .button-bar li .btn-reg {background:#00aadd;}
#global-nav .button-bar li .btn-login {background:#0d5878;}

@media (min-width: 768px) {
	#global-nav li {margin-left:5px;padding:0 5px;}
	#global-nav li a {font-size:16px;}
	#global-nav .button-bar li a {font-size:14px;}
	#global-nav li.nav-product ul {width:68px;left:-8px;}
	#global-nav li.nav-download ul {width:133px;left:-40px;}
}
@media (min-width: 992px) {
	#global-nav li {margin-left:10px;padding:0 10px;}
	#global-nav li a {font-size:18px;}
	#global-nav li.nav-product ul {width:68px;left:-1px;}
	#global-nav li.nav-download ul {width:133px;left:-34px;}
}
@media (max-width: 767px) {
	#header {display:none;}
	#global-nav {height:46px;}
	#logo {width:75px;height:46px;}
	#global-nav .toggle {display:block;float:right;width:28px;height:28px;margin:8px 0;border:0;padding:3px 0;background-color:transparent;position:relative;cursor:pointer;}
	#global-nav .toggle span {display:block;width:22px;height:3px;margin:3px 0;border-radius:1px;line-height:20px;background:#007eb3;}
	#global-nav .nav-inner {display:none;width:100%;padding:5px 0;background:#dadada;position:absolute;top:100%;left:0;}
	#global-nav .nav-inner ul {float:none;}
	#global-nav .nav-inner li {float:inherit;width:100%;height:auto;}
	#global-nav .nav-inner li a {display:block;padding:4px 20px;line-height:20px;font-size:14px;color:#007eb3;}
	#global-nav .nav-inner li a:hover {border:none;background:#bfbfbf;}
	#global-nav .nav-inner li.current a {border:none;color:#fff;background:#0ad;}
	#global-nav .nav-inner li ul {display:block;width:100%;border-radius:0;background:none;position:inherit;top:auto;}
	#global-nav .nav-inner li ul a {padding:4px 40px;}
	#global-nav li.nav-product ul {width:auto;left:auto;}
	#global-nav li.nav-download ul {width:auto;left:auto;}
	#global-nav .button-bar {display:none;}
	body {padding-top:46px;}
}

/* Intro */
#intro {overflow:hidden;background:#7ed3e3 url("../images/intro.jpg") center;background-size:cover;position:relative;}
#intro .container {position:relative;}
#intro .content {width:360px;position:absolute;top:18%;right:10%;z-index:2;}
#intro h2 {line-height:150%;font-weight:bold;font-size:42px;color:#ed135d;}
#intro p {line-height:150%;font-size:14px; color:#0d5878;}
#intro .button {float:left;margin-top:20px;margin-right:20px;border-radius:5px;height:50px;line-height:50px;color:#b0dad9;font-size:16px;}
#intro .btn-r {padding:0 40px;background:#0d5878;}
#intro .btn-l {padding:0 35px 0 45px;background:#00aadd;position:relative;}
#intro .btn-l .i {width:14px;height:14px;margin-top:-7px;background:url("../images/intro-bt-i.png") no-repeat;position:absolute;top:50%;left:25px;}

#mov-air {width:440px;height:220px;background:url("../images/intro-air.png") no-repeat;background-size:440px;position:absolute;bottom:6%;right:0%;}

/* Experience */
#experience .content {height:500px;padding-top:80px;}
#experience h2 {text-align:center;margin-bottom:10px;line-height:150%;font-size:42px;color:#746d67;}
#experience p {margin-bottom:90px;text-align:center;line-height:150%;font-size:22px;color:#9c9590;}
#experience ul {display:block;}
#experience ul li {float:left;width:20%;text-align:center;}
#experience ul li h3 {line-height:180%;font-size:16px;font-weight:bold;color:#746d67;}
#experience ul li p {margin:0 20px;font-size:12px;color:#746d67;}
#experience ul li img {width:150px;height:150px;margin-bottom:10px;border-radius:50%;background-image:url("../images/experience-list.png");background-repeat:no-repeat;}
#experience .list1 img {background-position:0 0;}
#experience .list2 img {background-position:-150px 0;}
#experience .list3 img {background-position:-300px 0;}
#experience .list4 img {background-position:-450px 0;}
#experience .list5 img {background-position:-600px 0;}

#experience footer, #service footer, #social footer {padding:40px 0;background-color:#82d4e4;}
#experience footer .btn-bar, #service footer .btn-bar, #social footer .btn-bar {width:420px;height:54px;margin:0 auto;}
#experience footer .button, #service footer .button, #social footer .button, #footer .btn-r, #page-s1 .button, #adv-intro .button {border-radius:5px;padding:0 54px 0 45px;width:90px;height:54px;text-align:center;line-height:54px;font-weight:bold;font-size:18px;background:url("../images/btn-ico.png") right 0 no-repeat;}
#experience footer .btn-l {float:left;background-color:#fff;color:#0ad;background-position:right -50px;}
#experience footer .btn-r  {float:right;background-color:#0d5878;color:#fff;}
#service footer {background-color:#0081c9;}
#service footer .btn-l {float:left;background-color:#fcc35c;color:#fff;}
#service footer .btn-r {float:right;background-color:#0ad;color:#fff;}
#social footer {background:none;padding-bottom:80px;}
#social footer .btn-l {float:left;background-color:#fe4040;color:#fff;}
#social footer .btn-r {float:right;background-color:#326698;color:#fff;}

#footer .btn-r {float:right;border-radius:5px;padding:0 24px 0 15px;width:90px;height:42px;line-height:42px;font-size:16px;text-align:center;font-weight:bold;color:#fff;background:#57c4cb url("../images/btn-ico.png") 136% -7px no-repeat;}

/* Service */
#service .content {height:500px;padding-top:80px;}
#service h2 {text-align:center;margin-bottom:10px;line-height:150%;font-size:42px;color:#746d67;}
#service p {margin-bottom:90px;text-align:center;line-height:150%;font-size:22px;color:#b7b3af;}
#service ul {display:block;}
#service ul li {float:left;width:25%;text-align:center;}
#service ul li h3 {padding-left:20%;text-align:left;line-height:180%;font-size:16px;font-weight:bold;color:#746d67;}
#service ul li p {margin:0 20px 0 20%;text-align:left;line-height:160%;font-size:14px;color:#746d67;}
#service ul li img {width:162px;height:150px;margin-bottom:10px;background-image:url("../images/service-list.png");background-repeat:no-repeat;}
#service .list1 img {background-position:0 0;}
#service .list2 img {background-position:-200px 0;}
#service .list3 img {background-position:-400px 0;}
#service .list4 img {background-position:-600px 0;}

/* social */
#social {background:url("../images/social-bg.png");}
#social .content {height:500px;padding-top:80px;}
#social h2 {text-align:center;margin-bottom:30px;line-height:150%;font-size:42px;color:#000;}
#social aside {margin-bottom:20px;}
#social aside h3 {text-align:center;font-size:120px;color:#0081c9;}
#social aside span {font-size:60px;}
#social p {margin-bottom:40px;text-align:center;line-height:150%;font-size:32px;color:#746d67;}
#social p span {font-size:14px;}
#social h4 {font-size:18px;text-align:center;color:#326698;}
#social .sliderbox {position:relative;}
#social .slider {width:80%;height:180px;overflow:hidden;margin:0 auto;position:relative;}
#social ul {display:block;margin:0 auto;width:200%;position:absolute;left:0;top:20px;}
#social ul li {float:left;width:8.3333%;text-align:center;}
#social ul li a {display:block;margin:16% 0 0 0;text-align:center;text-indent:-10px;font-size:86%;color:#326698;position:relative;z-index:0;}
#social ul li a img {display:block;margin:0px auto 10px auto;width:50%;}
#social ul li a:hover {z-index:1;}
#social ul li a:hover img {}
#social .arrow-btn {margin-top:-2%;display:block;width:30px;height:80px;overflow:hidden;cursor:pointer;border-radius:5px;background:#ccc url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0ic2xpZGVyLWljbyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2MHB4IiBoZWlnaHQ9IjMwcHgiIHZpZXdCb3g9IjAgMCA2MCAzMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjAgMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gaWQ9ImwiIG9wYWNpdHk9IjAuOTUiIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTkuNyw1LjEgMTguMywzLjcgNywxNSAxOC4zLDI2LjMgMTkuNywyNC45IDkuOCwxNSAiLz4NCjxwb2x5Z29uIGlkPSJyIiBvcGFjaXR5PSIwLjk1IiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjQwLjMsMjQuOSA0MS43LDI2LjMgNTMsMTUgNDEuNywzLjcgNDAuMyw1LjEgNTAuMiwxNSAiLz4NCjwvc3ZnPg0K") no-repeat;}
#social .arrow-btn:hover {background-color:#999;}
#social #btn-left {background-position:0 center;position:absolute;top:33%;left:5%;z-index:1;}
#social #btn-left.dasabled {background-position:0 center;background-color:#ccc;opacity:0.3;cursor:auto;}
#social #btn-right {background-position:-30px center;position:absolute;top:33%;right:5%;z-index:1;}
#social #btn-right.dasabled {background-position:-30px center;background-color:#ccc;opacity:0.3;cursor:auto;}

/* User */
#user {padding-top:60px;padding-bottom:60px;}
#user header {background:url("../images/user-line.png") repeat-x;}
#user header h2, #user header h2 span {display:block;width:300px;margin:0 auto;text-align:center;margin-bottom:30px;line-height:57px;font-size:38px;background:#fff url("../images/user-dot.png") no-repeat;color:#326698;}
#user header h2 {padding-left:20px;}
#user header h2 span {padding-right:20px;background-position:right center;}
#user ul {margin-bottom:40px;font-size:12px;}
#user ul li {float:left;margin-bottom:20px;width:11.1111%;text-align:center;}
#user ul li a {display:block;width:64px; margin:0 auto;text-align:center;color:#4b4d4f;}
#user ul li img {display:block;width:64px;height:64px;margin-bottom:10px;border-radius:16px;border:solid 1px #ccc;}

/* Footer */
#footer {color:#fff;font-size:12px;}
#footer a {color:#fff;}
#footer a:hover {color:#fff;}
#footer .col {float:left;}
#footer .col-0 {width:25%;position:relative;}
#footer .col-1 {width:12%;}
#footer .col-2 {width:39%;}
#footer .col-3 {width:20%;}
#footer .col-9 {width:80%;}
#footer #online {padding:36px 0;background-color:#092d3c;}
#footer #online .phone, #footer #online .support {float:left;height:42px;padding-left:50px;line-height:42px;font-size:24px;background:url("../images/footer-ico.png") no-repeat;}
#footer #online .phone {width:56%;}
#footer #online .support {height:50px;line-height:28px;font-size:18px;background-position:0 -42px;}
#footer .btn-r {float:right;border-radius:5px;padding:0 24px 0 15px;width:90px;height:42px;line-height:42px;font-size:16px;text-align:center;font-weight:bold;color:#fff;background:#57c4cb url("../images/btn-ico.png") 136% -7px no-repeat;}
#footer #footer-inner {padding-top:40px;background-color:#072029;}
#footer #footer-inner .col {margin-bottom:40px;}
#footer #footer-inner dl {line-height:180%;}
#footer #footer-inner dt {font-size:14px;}
#footer #footer-inner dd {margin:0;padding-left:10px;font-size:12px;background:url("../images/footer-list-i.png") 2px center no-repeat;}
#footer #footer-inner .ico {padding-left:24px;background:url("../images/footer-ico-list.png") no-repeat;}
#footer #footer-inner .i1 {}
#footer #footer-inner .i2 {background-position:0 -25px;}
#footer #footer-inner .i3 {background-position:0 -50px;}
#footer #footer-inner .i4 {background-position:0 -75px;}
#footer #footer-inner .i5 {background-position:0 -100px;}
#footer #footer-inner .i6 {background-position:0 -125px;}
#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {float:left;width:68px;height:68px;margin-top:40px;margin-left:18px;background:url("../images/footer-2d&wx.png") no-repeat;}
#footer #footer-inner .ico-2d {background-position:0 -100px;}
#footer #footer-inner .wx-ico {display:none;width:120px;height:120px;border-radius:4px;padding:15px;background:#fff;position:absolute;left:85px;}
#footer #footer-inner .wx-ico img {width:120px;height:120px;}
#footer #copyright {clear:both;border-top:solid 1px #fff;text-align:center;padding:20px 0;font-size:12px;}


@media (max-width: 767px) {
	#footer #online .support {display:none;}
	#footer .col-1 {width:50%;}
	#footer #online .phone {float:none;display:block;width:200px;margin:0 auto;font-size:16px;}
	#footer .btn-r {float:none;display:block;margin:20px auto 0 auto;width:90px;}
	#footer #footer-inner {padding-top:10px;}
	#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {margin-top:0;}
	#footer #footer-inner .wx-ico {top:100%;}
	#footer .col-0, #footer .col-2, #footer .col-3, #footer .col-9 {float:none;width:100%;}
	#footer .col-0 {margin-top:20px;width:80%;padding-left:20%;}
	#footer .col:after {display:block;content:"";clear:both;}
	#footer .col {display:block;*zoom:1;}
}

@media only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:240dpi), only screen and (min-resolution:2dppx) {
	#intro .btn-l .i {background-image:url("../images/intro-bt-i@2x.png");background-size:14px 14px;}
	#experience ul li img {background-image:url("../images/experience-list@2x.png");background-size:749px 147px;}
}



/*---- 视频 ----*/
#video-list {overflow:hidden;padding:80px 0;background:#e7e7e1;}
#video-list {overflow:;}
#video-list li {float:left;width:33.3333%;margin-bottom:20px;}
#video-list li a {display:block;margin:0 auto;width:84%;padding:25px 15px;border-radius:6px;border:solid 1px #c5c5c2;color:#000;background:#f1f1ed;cursor:pointer;}
#video-list li a:hover {border-color:#00addc;}
#video-list li img {display:block;margin:0 auto;width:260px;height:160px;margin-bottom:20px;}
#video-list li span {display:block;padding-left:24px;line-height:22px;font-size:14px;background:url("../images/video-ico.png") 12px center no-repeat;}
#video-list li.more {width:66.6666%;font-size:28px;text-align:center;font-style:italic;color:#b4b4b4;}
#video-list li.more .txt {padding-top:120px;}
#video-list li.more span {display:inline;font-size:28px;background:none;padding:0;color:#00aadd;}
@media only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:240dpi), only screen and (min-resolution:2dppx) {
	#video-list li span {background-image:url("../images/video-ico@2x.png"); background-size:9px 10px;}
}

/*---- 移动客服 ----*/
#page-test {overflow:hidden;background:#f7f7f7;background-size:cover;position:relative;}
#page-test .content {padding-top:80px;position:relative;}
#page-test h2 {text-align:center;margin-bottom:50px;line-height:150%;font-size:42px;color:#00aadd;}
#test-content {float:left;width:60%;}
#test-content h3 {margin-left:10%;margin-bottom:10px;}
#test-content h3 img {width:138px;height:32px;}
#test-content h4 {margin-left:10%;line-height:180%;font-size:24px;font-weight:bold;color:#0d5878;}
#test-content p {margin-left:10%;margin-bottom:20px;line-height:150%;font-size:22px;color:#1b3340;}
#test-content .ad-txt {padding-top:30px;font-size:24px;color:#00aadd;}
#test-content #test-qq, #test-content #test-tel {padding-left:34px;line-height:32px;background:url("../images/test-ico.png") no-repeat;}
#test-content #test-qq {}
#test-content #test-tel {background-position:0 -32px;}
#phone-pic {float:left;width:40%;text-align:center;}
@media only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:240dpi), only screen and (min-resolution:2dppx) {
	#test-content #test-qq, #test-content #test-tel {background-image:url("../images/test-ico@2x.png");background-size:32px 64px;}
}

/*--- 功能 ---*/
#page-s1 {height:563px;background:#ccc url("../images/function-bg1.jpg") center bottom no-repeat;}
#page-s2 {height:540px;background:#ccc url("../images/function-bg2.jpg") center bottom no-repeat;}
#page-s3 {height:799px;background:#ccc url("../images/function-bg3.jpg") center bottom no-repeat;}

#page-s1 .content {width:440px;height:680px;margin:0 auto;padding-left:200px;position:relative;}
#page-s1 .heading {padding-top:80px;line-height:120%;font-size:42px;font-weight:bold;color:#044f69;}
#page-s1 .content p {padding-top:10px;line-height:160%;font-size:20px;color:#41154a;}
#page-s1 .button {float:left;margin:20px 20px 0 0;background-color:#fe4040;color:#fff;}
#page-s1 dl {position:absolute;left:200px;bottom:0;}
#page-s1 dt {float:left;width:100px;height:186px;padding-top:22px;font-size:38px;color:#fff;}
#page-s1 dd {float:left;line-height:26px;font-size:16px;color:#fff;}
#page-s2 .content {height:685px;position:relative;}
#page-s2 .txt-ico2 {padding-top:80px;width:340px;position:absolute;top:0;left:18%;}
#page-s2 .txt-ico2 dt {float:left;width:100px;height:80px;padding-top:9px;font-size:38px;color:#fff;}
#page-s2 .txt-ico2 dd {line-height:26px;font-size:16px;color:#fff;}
#page-s2 .txt-ico3 {width:460px;position:absolute;right:0;bottom:150px;}
#page-s2 .txt-ico3 dt {float:left;width:180px;height:125px;padding-top:9px;font-size:38px;color:#fff;}
#page-s2 .txt-ico3 dd {line-height:26px;font-size:16px;color:#fff;}
#page-s3 .content {height:799px;position:relative;}
#page-s3 .txt-ico4 {width:450px;position:absolute;top:5%;right:0;}
#page-s3 .txt-ico4 dt {float:left;width:160px;height:80px;line-height:46px;font-size:38px;color:#fff;}
#page-s3 .txt-ico4 dd {line-height:46px;font-size:16px;color:#fff;}
#page-s3 .txt-ico5 {width:540px;position:absolute;top:42%;left:16%;}
#page-s3 .txt-ico5 dt {line-height:64px;font-size:38px;color:#fff;}
#page-s3 .txt-ico5 dd {line-height:26px;font-size:16px;color:#fff;}

@media only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:240dpi), only screen and (min-resolution:2dppx) {
	#page-s1 {background-image:url("../images/function-bg1@2x.jpg");background-size:1512px 563px;}
	#page-s2 {background-image:url("../images/function-bg2@2x.jpg");background-size:1512px 540px;}
	#page-s3 {background-image:url("../images/function-bg3@2x.jpg");background-size:1512px 799px;}
}

/*--- 优势 ---*/
#adv-intro {height:593px;text-align:center;background:#b8e9ff url("../images/adv-bg1.jpg") center bottom no-repeat;}
#adv-intro h2 {padding-top:120px;line-height:150%;font-weight:bold;font-size:42px;color:#0081c9;}
#adv-intro p {line-height:200%;padding-bottom:60px;font-size:20px;color:#142880;}
#adv-intro .button {display:block;margin:0 auto;width:90px;background-color:#0ad;color:#fff;}
#adv-stability li, #adv-oncurrency li, #adv-privacy li, #adv-integration li {line-height:170%;font-size:18px;}
#adv-stability {height:540px;background:#edf0eb url("../images/adv-bg2.png") 60% 70% no-repeat;}
#adv-stability .details {width:40%;padding:100px 0 0 20px;}
#adv-stability h2 {line-height:180%;font-weight:bold;font-size:24px;color:#0096ce;}
#adv-stability li {color:#000;}
#adv-oncurrency {height:620px;background:#b7e8ff url("../images/adv-bg3.jpg") 60% 70% no-repeat;}
#adv-oncurrency .details {width:40%;padding:100px 0 0 20px;}
#adv-oncurrency h2 {line-height:180%;font-weight:bold;font-size:24px;color:#00addc;}
#adv-oncurrency li {color:#00addc;}
#adv-privacy {height:600px;background:#edf0eb url("../images/adv-bg4.png") 50% 100% no-repeat;}
#adv-privacy .details {width:50%;padding:100px 0 0 20px;}
#adv-privacy h2 {line-height:180%;font-weight:bold;font-size:24px;color:#00addc;}
#adv-privacy li {color:#01657f;}
#adv-integration {height:540px;background:#e1cfba url("../images/adv-bg5.png") 50% 100% no-repeat;}
#adv-integration .details {width:50%;padding:100px 0 0 20px;}
#adv-integration h2 {line-height:180%;font-weight:bold;font-size:24px;color:#00addc;}
#adv-integration li {color:#fff;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
	#adv-intro {background-image:url("../images/adv-bg1@2x.jpg");background-size:1440px 593px;}
	#adv-stability {background-image:url("../images/adv-bg2@2x.png");background-size:100% auto;}
	#adv-oncurrency  {background-image:url("../images/adv-bg3@2x.jpg");background-size:110% auto;}
	#adv-privacy {background-image:url("../images/adv-bg4@2x.png");background-size:100% auto;}
	#adv-integration {background-image:url("../images/adv-bg5@2x.png");background-size:100% auto;}
}
/*--- 价格 ---*/
#page-price {padding:40px 0 40px 0;}
#page-price p {padding:20px 0;line-height:180%;font-size:16px;}
#priclist {border-collapse:collapse;border-spacing:0;border:solid 1px #ccc;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#priclist th, #priclist td {border-bottom:solid 1px #ccc;padding:12px 8px;vertical-align:middle;text-align:center;line-height:160%;color:#666;}
#priclist th {font-size:16px;color:#fff;}
#priclist .txt-sml {font-size:13px;}
#priclist .txt-w {color:#fff;}
#priclist .button {display:block;width:100px;margin:0 auto;background-color:#2dafa3;height:30px;line-height:30px;border-radius:3px;padding:5px 20px;color:#fff;}

/*--- 案例 ---*/
#user-intro .content {height:440px;position:relative;}
#user-intro .intro-pic {width:60%;position:absolute;left:0;bottom:0;}
#user-intro .intro-pic img {display:block;width:100%;}
#user-intro .intro-txt {width:320px;border-top:solid 4px #5b6c76;border-bottom:solid 16px #5b6c76;position:absolute;right:10px;bottom:70px;}
#user-intro .txt-head {display:block;border-bottom:solid 2px #bfbfbf;padding:0 2px;line-height:48px;font-size:18px;color:#5b6c76;}
#user-intro .intro-txt h2 {padding-top:10px;white-space:nowrap;text-align:center;line-height:80px;font-size:48px;font-weight:bold;color:#326698;}
#user-intro .intro-txt h3 {text-align:center;white-space:nowrap;line-height:40px;font-size:64px;color:#326698;}
#user-intro .intro-txt h3 span {font-size:36px;}
#user-intro .intro-txt p {text-align:center;white-space:nowrap;line-height:60px;font-size:24px;color:#989890;}
#user-nav {padding:30px 0;background-color:#f4f4f3;}
#user-nav ul {margin:0 -20px;}
#user-nav li {float:left;width:9.0909%;height:80px;}
#user-nav li a {display:block;text-align:center;font-size:14px;color:#326698;}
#user-nav li img {display:block;width:70%;margin:0 auto 10px auto;background:url("../images/user-nav-ico.png") 50% 0 no-repeat;background-size:100% auto;}
#user-nav li img.i1 {background-position:50% 0;}
#user-nav li img.i2 {background-position:50% 10%;}
#user-nav li img.i3 {background-position:50% 20%;}
#user-nav li img.i4 {background-position:50% 30%;}
#user-nav li img.i5 {background-position:50% 40%;}
#user-nav li img.i6 {background-position:50% 50%;}
#user-nav li img.i7 {background-position:50% 60%;}
#user-nav li img.i8 {background-position:50% 70%;}
#user-nav li img.i9 {background-position:50% 80%;}
#user-nav li img.i10 {background-position:50% 90%;}
#user-nav li img.i11 {background-position:50% 100%;}

#user-social {background:#fafafa;}
#user-social .details {float:left;width:40%;height:500px;background:#01657f;}
#user-social .tab-list {float:right;width:60%;height:500px;background:#142880;}
#user-service {background:#e9e9e3;}
#user-service .details {float:right;width:40%;height:500px;background:#01657f;}
#user-service .list-ico {float:left;width:60%;height:500px;background:#142880;}
#user-customer {height:400px;background:#fafafa;}
#user-customer {}
#user-customer {}
#user-education {height:400px;background:#e1ecf3;}
#user-tools-health {height:400px;background:#fafafa;}
#user-enterprise {height:400px;background:#e4e4e0;}
#user-intelligent {height:400px;background:#fafafa;}
#user-finance-mobile {height:400px;background:#e9e9e3;}
#user-publications {height:400px;background:#5b6c76;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
	#user-nav li img {background-image:url("../images/user-nav-ico@2x.png");}
}

/*--- Demo ---*/
#demo-intro {background:#fafafa url("../images/bg_body.png");}
#demo-intro h2 {padding-top:40px;text-align:center;line-height:160%;font-size:42px;color:#666;}
#demo-intro .demo-wrap {width:86%;margin:0 auto;}
#demo-intro .demo-icon {float:left;width:30%;padding:40px 20px;text-align:center;}
#demo-intro .demo-icon img {width:100%;}
#demo-intro .demo-content {float:left;width:220px;padding:50px 20px;}
#demo-intro .demo-content p {padding:10px 0 20px 0;line-height:150%;font-size:12px;color:#666;}
#demo-intro .demo_android {display:block;height:35px;border-radius:5px;padding:5px 30px 5px 60px;line-height:35px;font-size:18px;color:#fff;background:#ccc;}
#demo-intro .demo_android:hover, #demo-intro .demo_iphone:hover {background:#007eb3;}
#demo-intro .demo_iphone {display:block;height:35px;border-radius:5px;padding:5px 30px 5px 60px;line-height:35px;font-size:18px;color:#fff;background:#ccc;}
#demo-intro .demo-2d {float:left;width:30%;padding:60px 0;text-align:center;}
#demo-intro .demo-2d img {width:80%;}
#demo-intro .details {padding:0 20px 60px 0;line-height:150%;font-size:16px;color:#666;}
#demo-intro .details a {color:#29ABE2;}
#demo-list {height:500px;padding:80px 0;background:rgba(0,0,0,0.1);}

#zsgun{position:relative;width:960px;height:500px; margin:auto;}
a.hScrollPane_leftarrow{top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../images/zsleftbar.gif) no-repeat left top;left:15px; position:absolute;}
a.hScrollPane_leftarrow:hover{background:url(../images/zsleftbar.gif) no-repeat left -58px;}
a.hScrollPane_rightarrow{ top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../images/zsrightbar.gif) no-repeat left top; right:15px; position:absolute;}
a.hScrollPane_rightarrow:hover{background:url(../images/zsrightbar.gif) no-repeat left -58px;}
.hScrollPane_dragbar{width:100%;height:10px;border-radius:5px; position: absolute;background:#dadada; left:0; top:480px; z-index:1; padding:0;}
.hScrollPane_draghandle{position:absolute; width:460px; height:10px;border-radius:5px; overflow:hidden; background:#999; top:0; cursor:pointer; margin:0; left:0;}
#gundiv{ width:100%; position:relative; float:left; display:inline;height:480px; overflow:hidden;}
#gundiv ul {height:155px;position: absolute; width:10000px;}
#gundiv li{ width:260px; height:460px; overflow:hidden; float:left; margin-right:20px;position:relative;}
#gundiv li p{ display:none; height:18px; line-height:18px; text-align:center; overflow:hidden;}
#gundiv li p a:link,#gundiv li p a:visited{ color: #53711C; font-size: 12px; }
#gundiv li.zslion p{ display:block;}

/*--- SDK ---*/
#sdk-intro {height:600px;background:url("../images/sdk_hd_bg.jpg") no-repeat scroll;}
#sdk-intro h2 {padding:40px 0 15px 0;line-height:40px;font-size:36px;font-weight:bold;color:#fff;}
#sdk-intro h2 span {font-size:14px;}
#sdk-intro p {line-height:170%;font-size:14px;color:#fff;}
#sdk-intro ul {margin-top:20px;}
#sdk-intro li {float:left;width:30%;background:url("../images/icon_bg.png") no-repeat center top;}
#sdk-intro .ios-inner {margin-right:5%;}
#sdk-intro .andriod-inner {margin-right:5%;}
#sdk-intro .webim-inner {}
#sdk-intro .ios-icon, #sdk-intro .andriod-icon, #sdk-intro .webim-icon {background:url("../images/download_big_icon.png") 50% 0 no-repeat;}
#sdk-intro .ios-icon {display:block;height:270px;background-position:50% 0;}
#sdk-intro .andriod-icon {display:block;height:270px;background-position:50% -270px;}
#sdk-intro .webim-icon {display:block;height:270px;background-position:50% -540px;}
#sdk-intro .ios-btn, #sdk-intro .andriod-btn, #sdk-intro .webim-btn {display:block;height:54px;line-height:54px;text-align:center;color:#fff;}
#sdk-intro .ios-btn {background:#29abe2;}
#sdk-intro .andriod-btn {background:#39b54a;}
#sdk-intro .webim-btn {background:#e0c847;}

#sdk-intro .ios-inner p, #sdk-intro .andriod-inner p, #sdk-intro .webim-inner p {line-height:180%;font-size:12px;color:#999;}
#sdk-intro .ios-inner em  {display:block;line-height:180%;font-size:16px;color:#29abe2;}
#sdk-intro .ios-inner em a {font-size:16px;color:#29abe2;}
#sdk-intro .andriod-inner em  {display:block;line-height:180%;font-size:16px;color:#39b54a;}
#sdk-intro .andriod-inner em a {font-size:16px;color:#39b54a;}
#sdk-intro .webim-inner em  {display:block;line-height:180%;font-size:16px;color:#e0c847;}
#sdk-intro .webim-inner em a {font-size:16px;color:#e0c847;}

#skd-list .col {float:left;width:30%;}
#skd-list .ios-logs {margin-right:5%;}
#skd-list .andriod-logs {margin-right:5%;}
#skd-list .webim-logs {}
#skd-list h2 {padding-left:40px;line-height:35px;font-size:14px;color:#666;background:url("../images/download_small_icon.png") no-repeat;}

#skd-list ul {padding-bottom:30px;}
#skd-list li {margin-left:17px;padding:20px 0 10px 30px;border-left:solid 1px #ebebeb;word-wrap:break-word;line-height:160%;color:#4d4d4d;}
#skd-list h3 {height:30px;line-height:30px;position:relative;}
#skd-list h3 em {width:11px;height:11px;position:absolute;left:-36px;top:10px;border-radius:6px;}
#skd-list .ios-logs h2 {background-position:0 0;}
#skd-list .ios-logs h3 {color:#29abe2;}
#skd-list .ios-logs h3 em {background:#29abe2;}
#skd-list .andriod-logs h2 {background-position:0 -35px;}
#skd-list .andriod-logs h3 {color:#39b54a;}
#skd-list .andriod-logs h3 em {background:#39b54a;}
#skd-list .webim-logs h2 {background-position:0 -70px;}
#skd-list .webim-logs h3 {color:#e0c847;}
#skd-list .webim-logs h3 em {background:#e0c847;}

/* FAQ */
.wrap_bd{margin:0 auto;padding:0;}
.im_default_bg{background:#F7F7F7;width:100%;overflow:hidden;font-family:"微软雅黑",Helvetica,Arial,Tahoma,Verdana,sans-serif}
#container {width:990px;margin:0 auto;}
.faq_con,.faq_items dd{position:relative}
.faq_con em,.faq_items dt,.faq_items dd span{background:url("../images/faq_icon.png") no-repeat}
.faq_con em{position:absolute;background-position:0 0;width:88px;height:101px;diaplay:inline-block;font-style:normal}
.faq_items{margin:45px 0 20px 135px;overflow:hidden}
.faq_items dt{margin:20px 0;background-position:-64px -150px;padding-left:40px;line-height:30px;font-size:18px}
.faq_items dt a,.faq_items dt a:hover{color:#333}
.faq_items dd{margin:0 0 30px 40px;/*text-indent:2em;*/background:#FFF;padding:30px}
.faq_items dd a,.faq_items dd a:hover{color:#0080B1}
.faq_items dd span{background-position:-64px -110px;position:absolute;left:-40px;top:3px;width:23px;height:27px}

/* 关于我们 */
#about {background:#fff;}
#about-nav {float:left;width:20%;margin:30px 0;}
#about-nav a {display:block;padding-left:30px;line-height:36px;font-size:14px;color:#000;}
#about-nav a:hover, #about-nav .current a {color:#F08E00;background:#EDEDEB;}
#about-content {float:left;width:80%;min-height:300px;margin:30px 0;padding:0 0 0 30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-left:solid 1px #e0e0e0;}
#about-content h1 {color:#333;}
#about-content p {margin-top:20px;color:#333;}
#about-content .entry-header {margin-bottom:20px;line-height:50px;font-size:18px;}
#about-content .entry {padding-bottom:30px;line-height:180%;font-size:14px;text-indent:2em;}

ul.tabs-ul{margin-bottom:0}
ul.tabs-ul li{text-indent:0}
.tabs-ul{margin:10px auto 0;overflow:hidden}
.tabs-ul li{float:left;display:block;padding:0 20px;border:1px solid #A0A0A0;margin-right:5px;border-radius:5px 5px 0 0;cursor:pointer;
	background:#eaeaeb;
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fafafb,endcolorstr=#dededf,gradientType=0);
	background:-moz-linear-gradient(top, #fafafb, #dededf);
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fafafb), to(#dededf));
	background:-o-linear-gradient(top, #fafafb, #dededf);
	background:-ms-linear-gradient(top, #fafafb, #dededf)
}
.tabs-ul li.active{background:transparent;border-bottom-color:#F1F1F1}
.tabs-ul li a{display:block;height:35px;line-height:35px;text-align:center;font-size:16px;color:#333;text-decoration:none}
.tabs-wrapper{border-top:1px solid #A0A0A0;margin-top:-1px}
.tabs-wrapper ul {margin:20px 0;}
.tabs-wrapper h2.entry-title{font-size:18px}

.newsList{width:760px;overflow:Hidden;}
.newsList li{width:740px;height:36px;line-height:36px;border-bottom:dotted 1px #dddddd;color:#333;padding-left:0px;background:url("../images/list_ico.png") 10px center no-repeat;}
.newsList li a{color:#333;width:0px;font-size:14px;}
.newsList li a:hover{color:#02b9ef;}
.newsList li span{width:100px;color:#6c7383;font-size:12px;float:right;}

.partner-list {padding:20px;}
.partner-list li {float:left;width:182px;height:72px;margin:0 25px 20px 25px;border:1px solid #e5e5e5;}
.partner-list li a {display:block;width:182px;height:72px;}
.partner-list li img {display:block;width:100%;}

/*---- 建设中 ----*/
#coming {overflow:hidden;height:660px;background:#7ed3e3 url("../images/coming.jpg") bottom;background-size:cover;position:relative;}








