@charset "UTF-8";

body {padding-top:74px;font-family:"Microsoft YaHei";}

/* Header */
#header {width:100%;position:fixed;top:0;left:0;z-index:900;}
#global-nav {height:74px;background-color:rgba(250,250,250,0.95);}
#logo {float:left;overflow:hidden;width:120px;height:74px;margin:0;padding:0;background:url("../images/logo.png");}
#logo a {display:block;overflow:hidden;width:120px;height:74px;text-indent:-1000px;}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
	#logo {background-image:url("../images/logo@2x.png");background-size:100% 100%;}
}
#global-nav .toggle {display:none;}
.nav-inner {float:right;}
.nav-inner ul {float:left;}
#global-nav li {height:74px;line-height:68px;position:relative;}
#global-nav li a {padding:3px 5px;color:#0d5878;text-decoration:none;font-family:"Microsoft YaHei";}
#global-nav li a:hover, #global-nav li.current a {padding:3px 5px 0px 5px;border-bottom:solid 3px #0d5878;}
/*#global-nav li .dropbox {display:none;}
#global-nav li .dropbox .box-i {width:10px;height:10px;background:#0d5878;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg); position:absolute;top:-5px;left:65px;}*/
#global-nav li ul {display:none;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#0d5878;position:absolute;top:100%;left:-50%;}
#global-nav li li {float:none;margin:0;padding:0;height:auto;}
#global-nav li li a, #global-nav li.current li a {display:block;line-height:32px;padding:2px 20px;border:none;white-space:nowrap;font-size:14px;color:#fff;}
#global-nav li li a:hover {padding:2px 20px;border:none;background:#0ad;}
#global-nav li li img {width:22px;height:14px;position:absolute;top:2px;right:10px;}


#global-nav .button-bar li {padding:22px 0 0 0;margin-left:5px;height:30px;line-height:30px;}
#global-nav .button-bar li a {height:30px;line-height:30px;border-radius:3px;padding:0 20px;color:#fff;}
#global-nav .button-bar li a:hover {border-bottom:none;}
#global-nav .button-bar li .btn-reg {background:#00aadd;}
#global-nav .button-bar li .btn-login {background:#0d5878;}

@media (min-width: 768px) {
	#global-nav li {margin-left:0;padding:0 5px;}
	#global-nav li a {font-size:16px;}
	#global-nav .button-bar li a {font-size:14px;}
	#global-nav li.nav-product ul {width:110px;left:-29px;}
	#global-nav li.nav-download ul {width:133px;left:-40px;}
	#global-nav li.nav-community ul {width:68px;left:-8px;}
}
@media (min-width: 992px) {
    #global-nav .button-bar {margin-left:10px;}
	#global-nav li {margin-left:10px;padding:0 10px;}
	#global-nav li a {font-size:18px;}
	#global-nav li.nav-product ul {width:110px;left:-22px;}
	#global-nav li.nav-download ul {width:133px;left:-34px;}
	#global-nav li.nav-community ul {width:68px;left:-1px;}
}
@media (max-width: 767px) {
	#header {display:;}
	#global-nav {height:46px;}
	#logo {width:75px;height:46px;}
	#global-nav .toggle {display:block;float:right;width:28px;height:28px;margin:8px 0;border:0;padding:3px 0;background-color:transparent;position:relative;cursor:pointer;}
	#global-nav .toggle span {display:block;width:22px;height:3px;margin:3px 0;border-radius:1px;line-height:20px;background:#007eb3;}
	#global-nav .nav-inner {display:none;width:100%;padding:5px 0;background:#dadada;position:absolute;top:100%;left:0;}
	#global-nav .nav-inner ul {float:none;}
	#global-nav .nav-inner li {float:inherit;width:100%;height:auto;}
	#global-nav .nav-inner li a {display:block;padding:4px 20px;line-height:20px;font-size:14px;color:#007eb3;}
	#global-nav .nav-inner li a:hover {border:none;background:#bfbfbf;}
	#global-nav .nav-inner li.current a {border:none;color:#fff;background:#0ad;}
	#global-nav .nav-inner li ul {display:block;width:100%;border-radius:0;background:none;position:inherit;top:auto;}
	#global-nav .nav-inner li ul a {padding:4px 40px;}
	#global-nav li.nav-product ul {width:auto;left:auto;}
	#global-nav li.nav-download ul {width:auto;left:auto;}
	#global-nav li.nav-community ul {width:auto;left:auto;}
	#global-nav .button-bar {display:none;}
	body {padding-top:46px;}
}

#global-nav li.nav-product a {position:relative;}
#global-nav li.nav-product a img {position:absolute;top:15px;right:-15px;}

/* Footer */
#footer {color:#fff;font-size:12px;}
#footer a {color:#fff;}
#footer a:hover {color:#fff;}
#footer .col {float:left;}
#footer .col-0 {width:25%;position:relative;}
#footer .col-1 {width:12%;}
#footer .col-2 {width:39%;}
#footer .col-3 {width:20%;}
#footer .col-4 {width:35%;}
#footer .col-9 {width:80%;}
#footer #online {padding:36px 0;background-color:#092d3c;}
#footer #online .phone, #footer #online .online, #footer #online .tech, #footer #online .help {height:42px;padding-left:50px;line-height:42px;font-size:18px;background:url("../images/footer-ico.png") no-repeat;}
#footer #online .phone {float:left;font-size:20px;}
#footer #online .online {float:left;height:50px;background-position:0 -50px;}
#footer #online .online em {float:right;padding-top:4px;padding-left:5px;}
#footer #online .tech {float:left;background-position:0 -100px;}
#footer #online .help {float:right;background-position:0 -150px;}
#footer .btn-r {float:right;border-radius:5px;padding:0 24px 0 15px;width:90px;height:42px;line-height:42px;font-size:16px;text-align:center;font-weight:bold;color:#fff;background:#57c4cb url("../images/btn-ico.png") 136% -7px no-repeat;}
#footer #footer-inner {padding-top:40px;background-color:#072029;}
#footer #footer-inner .col {margin-bottom:40px;}
#footer #footer-inner dl {line-height:180%;}
#footer #footer-inner dt {font-size:14px;}
#footer #footer-inner dd {margin:0;padding-left:10px;font-size:12px;background:url("../images/footer-list-i.png") 2px center no-repeat;}
#footer #footer-inner .ico {padding-left:24px;background:url("../images/footer-ico-list.png") no-repeat;}
#footer #footer-inner .i1 {}
#footer #footer-inner .i2 {background-position:0 -25px;}
#footer #footer-inner .i3 {background-position:0 -50px;}
#footer #footer-inner .i4 {background-position:0 -75px;}
#footer #footer-inner .i5 {background-position:0 -100px;}
#footer #footer-inner .i6 {background-position:0 -125px;}
#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {float:left;width:68px;height:68px;margin-top:40px;margin-left:18px;background:url("../images/footer-2d&wx.png") no-repeat;}
#footer #footer-inner .ico-2d {background-position:0 -100px;}
#footer #footer-inner .wx-ico {display:none;width:120px;height:120px;border-radius:4px;padding:15px;background:#fff;position:absolute;left:85px;}
#footer #footer-inner .wx-ico img {width:120px;height:120px;}
#footer #copyright {clear:both;border-top:solid 1px #fff;text-align:center;padding:20px 0;font-size:12px;}


@media (max-width: 767px) {
	#footer #online .support {display:none;}
	#footer .col-1 {width:50%;}
	#footer #online .phone {float:none;display:block;width:200px;margin:0 auto;font-size:16px;}
	#footer .btn-r {float:none;display:block;margin:20px auto 0 auto;width:90px;}
	#footer #footer-inner {padding-top:10px;}
	#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {margin-top:0;}
	#footer #footer-inner .wx-ico {top:100%;}
	#footer .col-0, #footer .col-2, #footer .col-3, #footer .col-9 {float:none;width:100%;}
	#footer .col-0 {margin-top:20px;width:80%;padding-left:20%;}
	#footer .col:after {display:block;content:"";clear:both;}
	#footer .col {display:block;*zoom:1;}
}

@media only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:240dpi), only screen and (min-resolution:2dppx) {
	#intro .btn-l .i {background-image:url("../images/intro-bt-i@2x.png");background-size:14px 14px;}
	#experience ul li img {background-image:url("../images/experience-list@2x.png");background-size:749px 147px;}
	#footer #online .phone, #footer #online .online, #footer #online .tech, #footer #online .help {background-image:url("../images/footer-ico@2x.png");background-size:42px 200px;}
}

/* FAQ */
.wrap_bd{margin:0 auto;padding:0;}
.im_default_bg{background:#F7F7F7;width:100%;overflow:hidden;font-family:"微软雅黑",Helvetica,Arial,Tahoma,Verdana,sans-serif}
#container {width:990px;margin:0 auto;}
.faq_con,.faq_items dd{position:relative}
.faq_con em,.faq_items dt,.faq_items dd span{background:url("../images/faq_icon.png") no-repeat}
.faq_con em{position:absolute;background-position:0 0;width:88px;height:101px;diaplay:inline-block;font-style:normal}
.faq_items{margin:45px 0 20px 135px;overflow:hidden}
.faq_items dt{margin:20px 0;background-position:-64px -150px;padding-left:40px;line-height:30px;font-size:18px}
.faq_items dt a,.faq_items dt a:hover{color:#333}
.faq_items dd{margin:0 0 30px 40px;/*text-indent:2em;*/background:#FFF;padding:30px}
.faq_items dd a,.faq_items dd a:hover{color:#0080B1}
.faq_items dd span{background-position:-64px -110px;position:absolute;left:-40px;top:3px;width:23px;height:27px}

/* demo sdk */
.wrap_bd{margin:0 auto;padding:0;}
.wrap_bd p {line-height:160%;}
.w990{width:990px;margin:0 auto;}

/*Download下载页*/
.download_wrap{width:100%;background:#FFF url(../images/sdk_hd_bg.jpg) no-repeat;overflow:hidden}
.step_info{padding:0;color:#FFF;font:14px/24px "Microsoft Yahei","微软雅黑",Helvetica,Arial}
.step_info h2{font-size:36px;line-height:36px;padding:35px 0 15px}
.step_info h2 span{font-size:14px;padding-left:10px}
.step_icon{padding-top:28px}
.step_icon li{float:left;width:300px;height:360px;background:url(../images/icon_bg.png) no-repeat -18px 0}
.step_icon span.ios_icon,.step_icon span.andriod_icon,.step_icon span.webIm_icon{display:block;width:100%;height:270px;background:url(../images/download_big_icon.png) no-repeat -18px 0}
.step_icon span.andriod_icon{background-position:-493px 0}
.step_icon span.webIm_icon{background:url(../images/webIM_icon.png) no-repeat 105px 95px}
.step_icon li.li_away{margin-left:45px}
.ios_btn,.andriod_btn,.web_btn{display:block;width:300px;line-height:54px;background:#29abe2;color:#FFF;text-align:center}
.andriod_btn{background:#39b54a}
.web_btn{background:#e0c847}
.step_icon span{display:block;color:#999;text-align:left;font-size:12px;line-height:24px}
.step_icon span em{/*float:right;*/display:block}
.step_icon span em,.step_icon li span a{font-style:normal;color:#29abe2;font-size:16px}
.step_icon li.li_away span em,.step_icon li.li_away span a{color:#39b54a}
.step_icon li.li_web span em,.step_icon li.li_web span a{color:#ac9d4a}

.history_date {overflow:hidden;font-size:14px;font-family:"Microsoft Yahei","微软雅黑",Helvetica,Arial;margin:50px 0 0;}
.history_left,.history_right{width:310px;float:left;margin-right:30px;padding-bottom:20px;}
.history_margin_right {margin-right:0;}
/*.history_right{float:right}*/
.history_left h2,.history_right h2{background:url(../images/download_small_icon.png) #fff no-repeat 0 0;height:35px;font-weight:normal;line-height:35px}
.history_right h2{background-position:0 -35px}
.history_margin_right h2 {background:url(../images/small_icon_webim.png) #fff no-repeat 5px 3px;}
.history_date h2.first {margin-bottom:10px;padding-left:45px;z-index:99}
.history_date ul li {margin-left:18px;border-left:1px solid #EBEBEB;padding:30px 0 0 30px;zoom:1}
.history_date ul li:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.history_date ul li h3,.history_date ul li h3 a{color:#0080b1;font-weight:normal;line-height:26px;position:relative;}
.history_date ul li h3 em{height:10px;width:10px;background:#9ddbea;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:absolute;left:-36px;top:8px}
.history_date ul li h3 span{color:#309139;}
/*.history_date ul li dl {float:left;}*/
.history_date ul li dl dt{word-wrap:break-word;font-size:14px;line-height:24px;color:#4D4D4D;display:block}
.history_date ul.history_right li h3 em{background:#9fdda6}
.ios_ul,.andriod_ul,.web_ul{display:none}
.history_date ul.history_margin_right li h3 em{background:#e3d483}
.history_date ul.history_margin_right li h3 span{color:#ac9d4a}

/*Download_demo下载页
.download_demo{margin:40px auto 0}
.demo_hd,.demo_bd{width:100%;overflow:hidden}
.demo_hd{padding-bottom:40px}
.demo_bd_bg{background:#000;-webkit-opacity:0.1;-moz-opacity:0.1;opacity:.1;position:absolute;top:515px;left:0;height:615px;width:100%;}
.demo_hd_l{float:left;margin-right:35px;}
.demo_hd_r{float:left;}
.demo_hd_l img{display:block;}
.demo_hd h2{font-size:20px;line-height:30px;margin-bottom:15px}
.demo_hd p{font-size:12px;line-height:16px;padding:5px 0 10px;word-wrap:break-word}
.demo_hd dt{float:left;width:220px}
.demo_hd dd{float:left;margin-left:20px}
.demo_android,.demo_iphone{width:220px;height:45px;display:block;background:#CCC url("../images/demo_download_ico.png") 0 0 no-repeat;border-radius:5px}
.demo_iphone{background-position:0 -43px}
.demo_hd dt a,.info_readmore a,.info_readmore_show a{color:#29abe2}
a.demo_android:hover,a.demo_iphone:hover{background-color:#0080b1}

.hScrollPane_dragbar{background:#dadada;-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.hScrollPane_draghandle,.hScrollPane_leftarrow,.hScrollPane_rightarrow{background:#999}
.hScrollPane_dragbar{position:absolute;left:0px;bottom:0px;height:10px;margin:0 auto}
.hScrollPane_draghandle{height:10px;width:32px;overflow:hidden;position:absolute;top:0px;left:0px;cursor:default;background:#999;-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.container2{width:990px;height:484px;margin:65px auto;overflow:hidden;position:relative;-moz-user-select:none}
.container2 ul{width:10000px;position:absolute;left:0px;top:0px;padding:0;margin:0}
.container2 ul li{height:460px;width:260px;float:left;margin-right:15px;box-shadow:2px 2px 3px #231815;}
.container2 ul li img {border:none;height:460px; width:260px;}
.info_content{padding-bottom:45px}
.info_content h2{font-size:22px;font-weight:normal;margin-bottom:15px;}
.info_readmore{height:auto;overflow:hidden;word-wrap:break-word}
.info_readmore_show{display:none;}
.info_readmore a,.info_readmore_show a{margin-left:10px;}
.info_readmore_toggle{color:#0080b1;float:right}*/


/*-------------*/
#demo-intro {background:#fafafa url("../images/bg_body.png");}
#demo-intro h2 {padding-top:40px;text-align:center;line-height:160%;font-size:42px;color:#666;}
#demo-intro .demo-wrap {width:86%;margin:0 auto;}
#demo-intro .demo-icon {float:left;width:30%;padding:40px 20px;text-align:center;}
#demo-intro .demo-icon img {width:100%;}
#demo-intro .demo-content {float:left;width:220px;padding:50px 20px;}
#demo-intro .demo-content p {padding:10px 0 20px 0;line-height:150%;font-size:12px;color:#666;}
#demo-intro .demo_android {display:block;height:35px;border-radius:5px;padding:5px 30px 5px 60px;line-height:35px;font-size:18px;color:#fff;background:#ccc;}
#demo-intro .demo_android:hover, #demo-intro .demo_iphone:hover {background:#007eb3;}
#demo-intro .demo_iphone {display:block;height:35px;border-radius:5px;padding:5px 30px 5px 60px;line-height:35px;font-size:18px;color:#fff;background:#ccc;}
#demo-intro .demo-2d {float:left;width:30%;padding:60px 0;text-align:center;}
#demo-intro .demo-2d img {width:80%;}
#demo-intro .details {padding:0 20px 60px 0;line-height:150%;font-size:16px;color:#666;}
#demo-intro .details a {color:#29ABE2;}
#demo-list {height:500px;padding:80px 0;background:rgba(0,0,0,0.1);}

#zsgun{position:relative;width:960px;height:500px; margin:auto;}
a.hScrollPane_leftarrow{top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../images/zsleftbar.gif) no-repeat left top;left:15px; position:absolute;}
a.hScrollPane_leftarrow:hover{background:url(../images/zsleftbar.gif) no-repeat left -58px;}
a.hScrollPane_rightarrow{ top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../images/zsrightbar.gif) no-repeat left top; right:15px; position:absolute;}
a.hScrollPane_rightarrow:hover{background:url(../images/zsrightbar.gif) no-repeat left -58px;}
.hScrollPane_dragbar{width:100%;height:10px;border-radius:5px; position: absolute;background:#dadada; left:0; top:480px; z-index:1; padding:0;}
.hScrollPane_draghandle{position:absolute; width:460px; height:10px;border-radius:5px; overflow:hidden; background:#999; top:0; cursor:pointer; margin:0; left:0;}
#gundiv{ width:100%; position:relative; float:left; display:inline;height:480px; overflow:hidden;}
#gundiv ul {height:155px;position: absolute; width:10000px;}
#gundiv li{ width:260px; height:460px; overflow:hidden; float:left; margin-right:20px;position:relative;}
#gundiv li p{ display:none; height:18px; line-height:18px; text-align:center; overflow:hidden;}
#gundiv li p a:link,#gundiv li p a:visited{ color: #53711C; font-size: 12px; }
#gundiv li.zslion p{ display:block;}
