@charset "UTF-8";

body {padding-top:74px;}

/* Header */
#header {width:100%;position:fixed;top:0;left:0;z-index:900;}
#global-nav {height:74px;background-color:rgba(250,250,250,0.95);}
#logo {float:left;overflow:hidden;text-indent:-1000px;width:120px;height:74px;background:url("../images/logo.png");}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
	#logo {background-image:url("../images/logo@2x.png");background-size:100% 100%;}
}
#global-nav .toggle {display:none;}
.nav-inner {float:right;}
.nav-inner ul {float:left;}
#global-nav li {height:74px;line-height:68px;position:relative;}
#global-nav li a {padding:3px 5px;color:#0d5878;text-decoration:none;}
#global-nav li a:hover, #global-nav li.current a {padding:3px 5px 0px 5px;border-bottom:solid 3px #0d5878;}
/*#global-nav li .dropbox {display:none;}
#global-nav li .dropbox .box-i {width:10px;height:10px;background:#0d5878;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg); position:absolute;top:-5px;left:65px;}*/
#global-nav li ul {display:none;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#0d5878;position:absolute;top:100%;left:-50%;}
#global-nav li li {float:none;margin:0;padding:0;height:auto;}
#global-nav li li a, #global-nav li.current li a {display:block;line-height:32px;padding:2px 20px;border:none;white-space:nowrap;font-size:14px;color:#fff;}
#global-nav li li a:hover {padding:2px 20px;border:none;background:#0ad;}



#global-nav .button-bar {margin-left:10px;}
#global-nav .button-bar li {padding:22px 0 0 0;height:30px;line-height:30px;}
#global-nav .button-bar li a {height:30px;line-height:30px;border-radius:3px;padding:0 20px;color:#fff;}
#global-nav .button-bar li a:hover {border-bottom:none;}
#global-nav .button-bar li .btn-reg {background:#00aadd;}
#global-nav .button-bar li .btn-login {background:#0d5878;}

@media (min-width: 768px) {
	#global-nav li {margin-left:5px;padding:0 5px;}
	#global-nav li a {font-size:16px;}
	#global-nav .button-bar li a {font-size:14px;}
	#global-nav li.nav-product ul {width:68px;left:-8px;}
	#global-nav li.nav-download ul {width:133px;left:-40px;}
}
@media (min-width: 992px) {
	#global-nav li {margin-left:10px;padding:0 10px;}
	#global-nav li a {font-size:18px;}
	#global-nav li.nav-product ul {width:68px;left:-1px;}
	#global-nav li.nav-download ul {width:133px;left:-34px;}
}
@media (max-width: 767px) {
	#global-nav {height:46px;}
	#logo {width:75px;height:46px;}
	#global-nav .toggle {display:block;float:right;width:28px;height:28px;margin:8px 0;border:0;padding:3px 0;background-color:transparent;position:relative;cursor:pointer;}
	#global-nav .toggle span {display:block;width:22px;height:3px;margin:3px 0;border-radius:1px;line-height:20px;background:#007eb3;}
	#global-nav .nav-inner {display:none;width:100%;padding:5px 0;background:#dadada;position:absolute;top:100%;left:0;}
	#global-nav .nav-inner ul {float:none;}
	#global-nav .nav-inner li {float:inherit;width:100%;height:auto;}
	#global-nav .nav-inner li a {display:block;padding:4px 20px;line-height:20px;font-size:14px;color:#007eb3;}
	#global-nav .nav-inner li a:hover {border:none;background:#bfbfbf;}
	#global-nav .nav-inner li.current a {border:none;color:#fff;background:#0ad;}
	#global-nav .nav-inner li ul {display:block;width:100%;border-radius:0;background:none;position:inherit;top:auto;}
	#global-nav .nav-inner li ul a {padding:4px 40px;}
	#global-nav li.nav-product ul {width:auto;left:auto;}
	#global-nav li.nav-download ul {width:auto;left:auto;}
	#global-nav .button-bar {display:none;}
	body {padding-top:46px;}
}

/* Footer */
#footer {color:#fff;font-size:12px;}
#footer a {color:#fff;}
#footer a:hover {color:#fff;}
#footer .col {float:left;}
#footer .col-0 {width:25%;position:relative;}
#footer .col-1 {width:12%;}
#footer .col-2 {width:39%;}
#footer .col-3 {width:20%;}
#footer .col-9 {width:80%;}
#footer #online {padding:36px 0;background-color:#092d3c;}
#footer #online .phone, #footer #online .support {float:left;height:42px;padding-left:50px;line-height:42px;font-size:24px;background:url("../images/footer-ico.png") no-repeat;}
#footer #online .phone {width:56%;}
#footer #online .support {height:50px;line-height:28px;font-size:18px;background-position:0 -42px;}
#footer .btn-r {float:right;border-radius:5px;padding:0 24px 0 15px;width:90px;height:42px;line-height:42px;font-size:16px;text-align:center;font-weight:bold;color:#fff;background:#57c4cb url("../images/btn-ico.png") 136% -7px no-repeat;}
#footer #footer-inner {padding-top:40px;background-color:#072029;}
#footer #footer-inner .col {margin-bottom:40px;}
#footer #footer-inner dl {line-height:180%;}
#footer #footer-inner dt {font-size:14px;}
#footer #footer-inner dd {padding-left:10px;font-size:12px;background:url("../images/footer-list-i.png") 2px center no-repeat;}
#footer #footer-inner .ico {padding-left:24px;background:url("../images/footer-ico-list.png") no-repeat;}
#footer #footer-inner .i1 {}
#footer #footer-inner .i2 {background-position:0 -25px;}
#footer #footer-inner .i3 {background-position:0 -50px;}
#footer #footer-inner .i4 {background-position:0 -75px;}
#footer #footer-inner .i5 {background-position:0 -100px;}
#footer #footer-inner .i6 {background-position:0 -125px;}
#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {float:left;width:68px;height:68px;margin-top:40px;margin-left:18px;background:url("../images/footer-2d&wx.png") no-repeat;}
#footer #footer-inner .ico-2d {background-position:0 -100px;}
#footer #footer-inner .wx-ico {display:none;width:120px;height:120px;border-radius:4px;padding:15px;background:#fff;position:absolute;left:85px;}
#footer #footer-inner .wx-ico img {width:120px;height:120px;}
#footer #copyright {clear:both;border-top:solid 1px #fff;text-align:center;padding:20px 0;font-size:12px;}


@media (max-width: 767px) {
	#footer #online .support {display:none;}
	#footer .col-1 {width:50%;}
	#footer #online .phone {float:none;display:block;width:200px;margin:0 auto;font-size:16px;}
	#footer .btn-r {float:none;display:block;margin:20px auto 0 auto;width:90px;}
	#footer #footer-inner {padding-top:10px;}
	#footer #footer-inner .ico-2d, #footer #footer-inner .ico-wx {margin-top:0;}
	#footer #footer-inner .wx-ico {top:100%;}
	#footer .col-0, #footer .col-2, #footer .col-3, #footer .col-9 {float:none;width:100%;}
	#footer .col-0 {margin-top:20px;width:80%;padding-left:20%;}
	#footer .col:after {display:block;content:"";clear:both;}
	#footer .col {display:block;*zoom:1;}
}


#tem {height:500px;background:#007eb3;}