@charset "UTF-8";
/* CSS Document */
.row-fluid input#button,.float input#button{ padding:5px 20px; margin-right:10px; border-radius:5px; border:none; background:#4d8fb7; color:#FFF;}
.row-fluid input#text{ color:#cdCdCd;}
.row-fluid2 input#button{ margin:5px 10px 10px 0; padding:5px 20px; border-radius:5px; border:none; background:#4d8fb7; color:#FFF;}
.row-fluid input#text2{ width:90%;}
.row-fluid select{ width:70%;}

.row-fluid th a{ display:block; font-size:20px; color:#4d8fb7; text-decoration:none;}

.row-fluid .apply{ background:#dce9f1; border-bottom:1px solid #eaf1f7; border-top:1px solid #dce9f1; color:#346792; border-right:1px solid #dce9f1;}
.row-fluid .apply table{ border-bottom:1px solid #bed2db;}
.row-fluid .apply table td{ padding:7px 10px;}
.row-fluid .apply input#textfield{ color:#CCC;}
.row-fluid .count h1{ width:100%; border-bottom:1px solid #f5f5f5; font-size:16px; color:#514b3d; margin:0; padding:0;}
.row-fluid .count h1 span{ font-size:9px; font-weight:normal;}
.row-fluid .count .left{ float:left; width:48%; height:230px;}
.row-fluid .count .right{ float:right; width:48%; height:230px;}
.row-fluid .count br{ clear:both; display:block; padding:0; margin:0;}

.container-fluid{ position:relative;}
.navbar-inner .lianjie{ position:absolute; top:5px; right:600px; width:450px; margin-left:50%;}
.navbar-inner .lianjie ol{ padding:0; margin:0;}
.navbar-inner .lianjie ol li{ float:left; list-style:none; width:100px;}
.navbar-inner .lianjie ol li a{ text-decoration:none; color:#FFF; display:block; padding:10px;}
.navbar-inner .lianjie ol li a:hover{ text-decoration:underline;}

