@charset "utf-8";

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline
}
body {font:14px/1.5 Arial,"Helvetica Neue",Helvetica,sans-serif;color:#555}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
ol,ul {list-style:none;list-style-image:none;margin:0;padding:0}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none}
a {margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins {background-color:#ff9;color:#555;text-decoration: none}
mark {background-color:#ff9;color:#555;font-style:italic;font-weight:bold}
del {text-decoration: line-through}
abbr[title],dfn[title] {border-bottom:1px dotted;cursor: help}
table {border-collapse:collapse;border-spacing:0}
hr {display:block;height:1px;border: 0;border-top:1px solid #cccccc;margin:1em 0;padding: 0}
em {font-style:normal}
input::-ms-clear {display:none}
input[type=search] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.clearfix:before,.clearfix:after {content:" ";display:table}
.clearfix:after {clear:both}
.btn {
	display: inline-block;
	padding: 6px 10px;
	margin: 0 10px 0 0;
	border: 1px solid transparent;
	color: #fff;
	background-color: #a6bbb6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box
}
.btn:hover {background-color:#aac5bf;color:#fff}
.btn:focus {-webkit-box-shadow:0 0 6px rgba(121,176,237,0.6);-moz-box-shadow:0 0 6px rgba(121,176,237,0.6);box-shadow:0 0 6px rgba(121,176,237,0.6)}
.btn:active {background-color:#afd3ca}


a {color:#4298ba;text-decoration:none}
a:hover {text-decoration:none}
input[type="text"],input[type="password"],input[type="email"],textarea {display:block;width:220px;height:18px;line-height:18px;
	margin:0;padding:8px 12px;border:1px solid #ccc;outline:0;font-size:14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	overflow: auto
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
	border: 1px solid #64a8e2;
	-webkit-box-shadow: 0 0 6px rgba(121,176,237,0.6);
	-moz-box-shadow: 0 0 6px rgba(121,176,237,0.6);
	box-shadow: 0 0 6px rgba(121,176,237,0.6)
}
input[type="text"].error,input[type="password"].error,input[type="email"].error,textarea.error {
	border: 1px solid #c21;
	-webkit-box-shadow: inset 0 0 10px rgba(204,34,17,0.3);
	-moz-box-shadow: inset 0 0 10px rgba(204,34,17,0.3);
	box-shadow: inset 0 0 10px rgba(204,34,17,0.3)
}
input[type="text"].error:focus,input[type="password"].error:focus,input[type="email"].error:focus,textarea.error:focus {
	-webkit-box-shadow: 0 0 6px rgba(204,34,17,0.6);
	-moz-box-shadow: 0 0 6px rgba(204,34,17,0.6);
	box-shadow: 0 0 6px rgba(204,34,17,0.6)
}
input[type="text"].placeholder,input[type="password"].placeholder,input[type="email"].placeholder,textarea.placeholder {
	color: #999999 !important
}
input[type="text"][disabled],input[type="password"][disabled],input[type="email"][disabled],textarea[disabled] {
	background: #efefef
}
input[type="text"].no-border,input[type="password"].no-border,input[type="email"].no-border,textarea.no-border {
	border: none;
	padding: 2px 0;
	font-size: 16px;
	line-height: 1.2;
	border-bottom: 1px dotted #cccccc;
	overflow: hidden;
	resize: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}
input[type="text"].no-border:focus,input[type="password"].no-border:focus,input[type="email"].no-border:focus,textarea.no-border:focus {
	border: none;
	border-bottom: 1px dotted #cccccc;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent
}
input[type="text"].no-border.error,input[type="password"].no-border.error,input[type="email"].no-border.error,textarea.no-border.error {
	border: none;
	border-bottom: 1px dotted #c21;
	-webkit-box-shadow: inset 0 0 0 transparent;
	-moz-box-shadow: inset 0 0 0 transparent;
	box-shadow: inset 0 0 0 transparent
}
input[type="text"].no-border.error:focus,input[type="password"].no-border.error:focus,input[type="email"].no-border.error:focus,textarea.no-border.error:focus {
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent
}

.warp980,.inr{width:980px;margin:0 auto;padding:0 20px}
.header{position:fixed;z-index:99;width:100%;background:#fff;opacity: .9;-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.1);box-shadow: 0px 3px 3px rgba(0,0,0,0.1)}
.header .logo {float:left;padding:0}
.header .logo a {background:url(http://p4.zdassets.com/hc/settings_assets/570511/200049515/fs6w5ydjRKxKyRqgx02oRA-e_logo.png) 0 12px no-repeat;background-size:95px 40px;
	display:block;overflow:hidden;width:95px;padding:12px 0;line-height:1;font-size:30px;font-weight:bold;text-indent:-245px}
.header .logo a:hover {opacity: .8}
.header .nav {float:right;margin:15px 0}
.header .nav li {float:left}
.header .nav li a {display: block;padding: 5px 15px;color:#57786f}
.header .nav li a:hover {text-decoration:none;color:#679b8d}
.header .nav li.mobile span {font-size:12px;color:#ff311f;vertical-align:top;font-family:Verdana;margin-left:-2px}
.header .nav li.sign a {margin-left:15px;color:#1a74b0;font-weight:bold;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.header .nav li.sign a:hover {opacity: .8;text-decoration:none}
.header .nav li.signin a {background:#0080b1;color:#FFF}
.header .nav li.signup {margin-left:0}
.help-header {padding: 84px 0 17px;background:#539587 url("../images/header-background-0398490c7925dfcca48bc5d851b3f43b.png") repeat-x;background-size:20px auto;position:relative}
.help-header a {display:block;width:177px;height:38px}
.help-header .title {font-size:40px;color:#fff;width:177px;height:38px}

.help-header.index {text-align:center;padding:125px 0 50px;background:url("../images/header-background-0398490c7925dfcca48bc5d851b3f43b.png") center bottom repeat-x;background-size: 20px auto}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.help-header.index {
		background-image:url("../images/header-background@2x-2c281add7162c0f9bd830e5060314f18.png");
		background-size: 20px auto
	}
}
.help-header.index .title {width:455px;height:74px;margin: 0 auto 40px;font-family:"Microsoft yahei","微软雅黑"}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.help-header.index .title {
		/*background-image: url(".../images/logo@2x-8810b1f8c2ab72d73681a2d8d7c3debb.png");
		background-size: 255px auto*/
	}
}

.help-header.index .input-group {width:962px;height:72px;margin: 0 auto;
	background:url("../images/searchbox-9cee2aced68db8e01a898a6e5c64dd6b.png") no-repeat;
	background-size: 962px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.help-header.index .input-group {
		background-image:url("../images/searchbox@2x-d6707ec6e43bbf4d2c3f8ddb9a8bf438.png");
		background-size: 962px auto
	}
}
.help-header.index .input-group input.form-control {float:left;display:inline;margin: 21px 0 21px 60px;padding: 0;border: none;color: #999;font-size: 20px;width: 760px;height: 30px;line-height:30px;
	background-color:transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent
}
.help-header.index .input-group input.form-control::-webkit-input-placeholder {color:#999 !important}
.help-header.index .input-group input.form-control::-moz-placeholder {color:#999 !important}
.help-header.index .input-group input.form-control:focus::-webkit-input-placeholder {color:#ccc !important}
.help-header.index .input-group input.form-control:focus::-moz-placeholder {color: #ccc !important}
.help-header.index .input-group .btn {background-color:#5ec8e3;font-size:18px;width:120px;height:auto;line-height:22px;margin:19px 15px 19px 0;outline:none;border:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 0 transparent;
	-moz-box-shadow:0 0 0 transparent;
	box-shadow:0 0 0 transparen
}
.help-header.index .input-group .btn:hover {opacity:0.8}
#page-help-center .section {margin:0 auto 60px;text-align:center;clear:both}
#page-help-center .section h2 {font-size:26px;color:#666;position:relative}
#page-help-center .section h2 .submit_faq{position:absolute;right:250px;top:5px;font-size:18px}
#page-help-center .section .desc {font-size:16px;color:#999}
#page-help-center .section#faq {margin-top:40px}
#page-help-center .section#faq .all-faq,#page-help-center .section#dynamic .all-dynamic{width:980px;margin:0 auto;text-align:left}
#page-help-center .section#faq .faq-group {width:310.5px;margin:30px 20px 0 0;display:inline-block;vertical-align:top}
#page-help-center .section#faq .faq-group:nth-child(3n) {margin-right:0}
#page-help-center .section#faq .faq-group h3 {font-size:18px;line-height:32px;padding-left:8px}
#page-help-center .section#faq .faq-group h3 .icn-faqlist {display:inline-block;margin-right:5px;width:42px;height:44px;
	background-image: url("../images/wechat_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist {
	background-image: url("../images/wechat_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#android_community {
	background-image: url("../images/android_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#android_community {
	background-image: url("../images/android_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#ios_community {
	background-image: url("../images/ios_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#ios_community {
	background-image: url("../images/ios_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#api_community {
	background-image: url("../images/api_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#api_community {
	background-image: url("../images/api_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#webim_community {
	background-image: url("../images/web_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#webim_community {
	background-image: url("../images/web_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#hotfaq_community {
	background-image: url("../images/faq_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#hotfaq_community {
	background-image: url("../images/faq_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#faq .faq-group h3 .icn-faqlist#developers_community {
	background-image: url("../images/control_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#faq .faq-group h3 .icn-faqlist#developers_community {
	background-image: url("../images/control_icon@2x.png");
	background-size: 40px auto
}
}

#page-help-center .section#faq .faq-group h3 a {color:#555;position:relative;top:-15px}
#page-help-center .section#faq .faq-group .faq-list {color:#ccc;list-style:disc;margin:10px 20px 0 25px}
#page-help-center .section#faq .faq-group .faq-list li {margin-bottom:8px}
#page-help-center .section#faq .faq-group .faq-list li a {display:block;font-size:14px;line-height:1.2em}


.help-guide {padding:85px 0 50px;background:#0080b1;text-align:center;position:relative}
.help-guide .title {font-size:40px;color:#fff;margin:0 auto 40px}
.article-list{width:980px;margin:0 auto;padding-left:20px;overflow:hidden}
.article-list > li {float:left;width:251.5px;margin-right:20px;background:#F0F0F0;padding:15px 30px;border-radius:5px;font-size:16px;text-align:left}
.article-list > li:nth-child(3n) {margin-right:0}
.article-list > li > a:before {/*font-family:"entypo";*/content:"+ ";padding-right:10px;font-size:1.2em}
.article-list > li > a[aria-selected="true"]:before {content:"- "}
.article-list > li > a:hover {text-decoration:none}
.help-guide .article-list > li > a,
.help-guide .article-list > li > a {display:block}
.help-guide a[aria-selected="false"] + article,
.help-guide a[aria-selected="false"] + article {display:none}
.help-guide .loader:after,
.help-guide .loader:after {content: '...'}
.help-guide .article-body + a:last-child,
.help-guide .article-body + a:last-child {display:inline-block;margin-top:25px;font-size:11px}
.article-body {font-size:12px;word-wrap:break-word}
.article-body h2{color:#555;margin-bottom:10px}
.article-body img {border:1px solid #ECECEC;border:1px solid rgba(0, 0, 0, 0.07);height:auto;max-width:100%;padding:3px}
.article-body pre {background:#FBFBFB;background:rgba(0, 0, 0, 0.02);border:1px solid #ECECEC;border: 1px solid rgba(0, 0, 0, 0.07);border-radius:3px;padding:10px 15px;overflow:auto;white-space:pre}
.article-body blockquote {border-left:1px solid #ECECEC;border-left:1px solid rgba(0, 0, 0, 0.07);color:#8E8E8E;font-style:italic;margin:20px 0;padding-left:20px}
.article-body ul, .article-body ol {list-style-position:outside;margin-left:20px}
.article-body ul {list-style-type:disc}
.article-body ol {list-style-type:decimal}
.article-body li {margin-bottom:5px}
.article-body table {table-layout:fixed}
.article-body .txt-top {margin-top:15px}
.article-body ul.video-list{width:100%;list-style-type:none;margin-left:0}
.article-body ul.video-list li{float:left;width:118px;margin-right:15px;position:relative}
.article-body ul.video-list li:nth-child(2n){margin-right:0}
.article-body ul.video-list li .v-thumb{position:relative;width:118px;height:65px;margin-bottom:8px;overflow:hidden;z-index:20}
.article-body ul.video-list li .v-thumb img{position:relative;width:118px;height:85px;margin-top:-10px;z-index:5}
.article-body ul.video-list li .v-thumb .v-thumb-taglt{position:absolute;top:0;left:0;z-index:20} 
.article-body ul.video-list li .v-thumb .v-thumb-tagrt{position:absolute;top:0;right:0;z-index:20;_right:-1px}
.article-body ul.video-list li .v-thumb .v-thumb-tagrb{position:absolute;bottom:0;right:0;z-index:20}
.article-body ul.video-list li .v-thumb .v-thumb-tagrb .v-time{padding:0 5px; font-weight:bold; font-family:"宋体"; color:#ddd; white-space:nowrap}
.article-body ul.video-list li .v-link a{position:absolute;top:0;left:0;width:118px;height:65px;background:url("http://static.soku.com/v1.0.0774/soku/inthesky/giantstar/img/sprites.gif") repeat;z-index:30}
.article-body ul.video-list li .v-meta-data .username a,
.article-body ul.video-list li .v-meta-data label,
.article-body ul.video-list li .v-meta-data span{color:#909090}
.article-body ul.video-list li .v-meta-data .pub,
.article-body ul.video-list li .v-meta-data .siteurl a{color:#909090}
.article-body ul.video-list li .v-meta-title,
.article-body ul.video-list li .v-meta-title a{line-height:18px}
.article-body ul.video-list li .v-meta-title{max-height:36px;overflow:hidden;_height:20px}
.article-body ul.video-list li .v-meta-data{position:relative;height:18px;overflow:hidden;word-break:break-all; *vertical-align:top}
.article-body ul.video-list li .v-meta-data .r{position:absolute;left:95px;vertical-align:top;*margin-top:-1px}
.article-body ul.video-list li .v-meta-data .s_ico20{vertical-align:top;margin-right:3px;*margin-top:-2px;_vertical-align:middle}
.article-body ul.video-list li .v-meta-overlay{position:absolute;left:0;bottom:0; width:120px;height:35px;z-index:10;background:url("http://static.soku.com/v1.0.0774/soku/inthesky/giantstar/img/bg_video_mini.png") no-repeat left bottom; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/assets/img/bg_video_mini.png")}
.article-body ul.video-list li p a {display:block}
.highlight{color:#C00}

/*联系客服提交问题*/
.submit_faq_box{width:100%;height:auto;overflow:hidden}
.page-footer{width:100%;height:248px}

/*动态*/
#page-help-center .section#dynamic {margin-bottom:0;padding:30px 0 50px;background-color:#F7F7F7}
#page-help-center .section#dynamic .dynamic-group {width:478px;margin:30px 20px 0 0;display:inline-block;vertical-align:top}
#page-help-center .section#dynamic .dynamic-group:nth-child(2n) {margin-right:0}
#page-help-center .section#dynamic .dynamic-group h3 {font-size:18px;line-height:32px;padding-left:8px}
#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist {display:inline-block;margin-right:5px;width:42px;height:44px;
	background-image: url("../images/wechat_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto;
	background-position: center
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist {
	background-image: url("../images/wechat_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist#market_dynamic {
	background-image: url("../images/market_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist#market_dynamic {
	background-image: url("../images/market_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist#version_dynamic {
	background-image: url("../images/version_icon.png");
	background-repeat: no-repeat;
	background-size: 40px auto
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	#page-help-center .section#dynamic .dynamic-group h3 .icn-dynamiclist#version_dynamic {
	background-image: url("../images/version_icon@2x.png");
	background-size: 40px auto
}
}
#page-help-center .section#dynamic .dynamic-group h3 a {color:#555;position:relative;top:-15px}
#page-help-center .section#dynamic .dynamic-group .dynamic-list {color:#ccc;list-style:disc;margin:10px 20px 0 25px}
#page-help-center .section#dynamic .dynamic-group .dynamic-list li {margin-bottom:8px}
#page-help-center .section#dynamic .dynamic-group .dynamic-list li a {display:block;font-size:14px;line-height:1.2em}


