<div class="about_l">
            <ul id="about_nav">
              <li>
              <!-- class="selected" 被选中增加class-->
                <a href="/about/aboutus">公司介绍</a>
              </li>
              <li>
                <a href="/about/joinus">加入我们</a>
              </li>
              <li>
                <a href="/about/contactus">联系我们</a>
              </li>
              <!--
              <li>
                <a  href="/about/faq">常见问题</a>
              </li>
              -->
              <li>
                <a href="/about/terms">服务协议</a>
              </li>
        		<li>
                <a href="/about/mediaReport">媒体报道</a>
              </li>
			  <li>
                <a href="/about/partner">合作伙伴</a>
              </li>
            </ul>
</div>