<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/quickstartUI/">5分钟快速入门UIDemo</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/quickstartinapp/">集成环信SDK配置指导</a></h3>
      </li>
	   <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/setnickname/">设置登录用户昵称</a></h3>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/sdkinit/">Android SDK初始化</a></h3>
		 		<ul class="js-guides">
            <li><a href="/docs/android/sdkinit/#init">初始化</a></li>
            <li><a href="/docs/android/sdkinit/#login">登录鉴权</a></li>
						<li><a href="/docs/android/sdkinit/#logout">退出聊天</a></li>
						<li><a href="/docs/android/sdkinit/#register">注册</a></li>
        </ul>
      </li>
	  
	   <li class="js-topic">
        <h3>
        	<a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a>
        	<a href="/docs/android/listener/">注册监听</a></h3>
          <ul class="js-guides">
            <li><a href="/docs/android/listener/#newmessage">接收新消息监听</a></li>
            <li><a href="/docs/android/listener/#ackmessage">接收已读回执监听</a></li>
			<li><a href="/docs/android/listener/#deliveryackmessage">已发送回执监听</a></li>
            <li><a href="/docs/android/listener/#contactlistener">联系人监听</a></li>
			<li><a href="/docs/android/listener/#connectionlistener">网络连接监听</a></li>
            <li><a href="/docs/android/listener/#groupchangelistener">群组监听</a></li>
            <li><a href="/docs/android/listener/#setappinit">通知SDK广播注册完毕</a></li>
        </ul>
      </li>
	  
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/singlechat/">单聊</a></h3>
          <ul class="js-guides">
            <li><a href="/docs/android/singlechat/#sendmessage">发文字，语音，图片，位置</a></li>
            <li><a href="/docs/android/singlechat/#receivermessage">接收消息</a></li>
			<li><a href="/docs/android/singlechat/#historymessage">聊天消息历史记录管理</a></li>
            <li><a href="/docs/android/singlechat/#unreadmessage">未读消息数变化回调（单一聊天人，所有聊天人）。消息已读设定</a></li>
			<li><a href="/docs/android/singlechat/#setnotification">自定义通知栏消息提示</a></li>
            <li><a href="/docs/android/singlechat/#notification">新消息提示</a></li>
        </ul>
      </li>
	  
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/buddy/">好友管理</a></h3>
          <ul class="js-guides">
            <li><a href="/docs/android/buddy/#friendslist">获取好友列表</a></li>
			<li><a href="/docs/android/buddy/#findfriend">查找好友</a></li>
            <li><a href="/docs/android/buddy/#addfriend">添加好友</a></li>
			<li><a href="/docs/android/buddy/#removefriend">移除好友</a></li>
			<li><a href="/docs/android/buddy/#argeefriend">同意好友请求</a></li>
            <li><a href="/docs/android/buddy/#rejectfriend">拒绝好友请求</a></li>
			<li><a href="/docs/android/buddy/#friendslistener">监听好友列表变化</a></li>
            <li><a href="/docs/android/buddy/#blacklist">黑名单</a></li>
        </ul>
      </li>
      
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/groupchat/">群聊</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/android/groupchat/#group-sendmessage">发文字，语音，图片，位置</a></li>
          <li><a href="/docs/android/groupchat/#group-new">新建群聊</a></li>
          <li><a href="/docs/android/groupchat/#group-joincontact">群聊加人</a></li>
          <li><a href="/docs/android/groupchat/#group-subcontact">群聊减人</a></li>
          <li><a href="/docs/android/groupchat/#group-joinone">加入某个群聊</a></li>
          <li><a href="/docs/android/groupchat/#group-exit">退出群聊</a></li>
          <li><a href="/docs/android/groupchat/#group-dismiss">解散群聊</a></li>
          <li><a href="/docs/android/groupchat/#group-getlist">获取群聊列表</a></li>
		  <li><a href="/docs/android/groupchat/#group-getdetail">获取群组信息</a></li>
		  <li><a href="/docs/android/groupchat/#group-block">屏蔽群消息</a></li>
		  <li><a href="/docs/android/groupchat/#group-unblock">解除屏蔽群</a></li>
		  <li><a href="/docs/android/groupchat/#group-changename">修改群名称</a></li>
		  <li><a href="/docs/android/groupchat/#group-notnotify">来消息不提醒只显示数目</a></li>
		  <li><a href="/docs/android/groupchat/#group-blockuser">把用户移入黑名单</a></li>
		  <li><a href="/docs/android/groupchat/#group-unblockuser">把用户移除黑名单</a></li>
		  <li><a href="/docs/android/groupchat/#group-blockedusers">获取黑名单列表</a></li>
		  <li><a href="/docs/android/groupchat/#group-listener">群聊事件监听</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/importmessage/">导入消息到环信DB</a></h3>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/advanced/">自定义扩展消息</a></h3>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/payload/">消息透传</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/apidoc/android/chat/">Android SDK JavaDoc</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/demo/">Demo及SDK下载</a></h3>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/question/">常见错误</a></h3>
		 <ul class="js-guides">
            <li><a href="/docs/android/question/#init">初始化</a></li>
            <li><a href="/docs/android/question/#login">登录</a></li>
			<li><a href="/docs/android/question/#offline">被踢下线</a></li>
			<li><a href="/docs/android/question/#group">群组</a></li>
            <li><a href="/docs/android/question/#chathistory">聊天记录</a></li>
            <li><a href="/docs/android/question/#register">注册</a></li>
			<li><a href="/docs/android/question/#payload">消息透传</a></li>
			<li><a href="/docs/android/question/#pack">打包混淆</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
