<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/quickstart/">5分钟快速入门无UIDemo</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/quickstartUI/">5分钟快速入门有UIDemo</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/quickstartinapp/">集成环信SDK配置指导</a></h3>
      </li>
	   <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/setnickname/">设置登录用户昵称</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/singlechat/">单聊</a></h3>
          <ul class="js-guides">
            <li><a href="#section">初始化</a></li>
            <li><a href="#section-1">登录鉴权</a></li>
            <li><a href="#section-4">发文字，语音，图片，位置</a></li>
            <li><a href="#section-11">接收消息</a></li>
			<li><a href="#section-12">聊天消息历史记录管理</a></li>
            <li><a href="#section-13">未读消息数变化回调（单一聊天人，所有聊天人）。消息已读设定</a></li>
            <li><a href="#section-19">新消息提示</a></li>
            <li><a href="#section-20">好友列表管理</a></li>
            <li><a href="#section-28">高级话题</a></li>
            <li><a href="#section-29">自定义扩展消息</a></li>
            <li><a href="#section-30">黑名单</a></li>
            <li><a href="#section-34">网络异常监听:</a></li>
			<li><a href="#section-34">同一账号多处登录强制下线</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/android/groupchat/">群聊</a></h3>
        <ul class="js-guides">
          <li><a href="#section">发文字，语音，图片，位置</a></li>
          <li><a href="#section-2">新建群聊</a></li>
          <li><a href="#section-4">群聊加人</a></li>
          <li><a href="#section-5">群聊减人</a></li>
          <li><a href="#section-6">加入某个群聊</a></li>
          <li><a href="#section-7">退出群聊</a></li>
          <li><a href="#section-8">解散群聊</a></li>
          <li><a href="#section-9">获取群聊列表</a></li>
          <li><a href="#section-10">高级话题</a></li>
          <li><a href="#section-11">自定义扩展消息</a></li>
          <li><a href="#java-doc">Java Doc</a></li>
          <li><a href="#demosdk">Demo及SDK下载</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
