<!-- Footer Start -->
<div id="footer">
  <div class="footer-content w990">
    <div class="footer-left">
      <dl>
        <dt class="foot-lg">
          <a href="/"><img src="/img/foot_logo.png" alt="环信.即时通讯云" /></a>
        </dt>
        <dd class="foot-fn">
                   <p>
            <strong>技术支持QQ群：337951592　<br/> 商务咨询：</strong>
            <!-- WPA Button Begin -->
            <em><script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAxMTUzM18xNTQ0NTdfNDAwMDM2ODA5OV8"></script></em>
            <!-- WPA Button End -->
          </p>
        </dd>
        <dd class="follow-us">
          关注我们
          <a href="http://weibo.com/easemob" target="_blank" class="weibo">新浪微博</a>
                    <!--
                    <wb:follow-button uid="3933801885" type="red_1" class="weibo"></wb:follow-button>
                      -->
          <a href="javascript:void(0);" class="weixin">关注微信</a>
          <span>京ICP备14026002号</span>
          <div class="weixin_code">
            <img src="/img/weixin_code.jpg" alt="关注微信" />
          </div>

          <script type="text/javascript">
            //关注微信
            $(function () {
              $(".weixin").hover(function () {
                  $(".weixin_code").css("display","block");
              }, //mouseenter
              function () {
                  $(".weixin_code").css("display","");
              });//mouseleave
            });
          </script>
        </dd>
      </dl>
    </div>
    <div class="footer-right">
    <!--
      <ul>
        <h2>典型案例</h2>
        <li><a href="http://www.easemob.com/qixin" target="_blank">企信</a></li>
      </ul>
      -->
      <ul>
        <h2>开发者</h2>
        <li><a href="http://developer.easemob.com" target="_blank">文档</a></li>
        <li><a href="http://developer.easemob.com/docs/downloads/downloads.html" target="_blank">下载</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="http://faq.easemob.com/explore" target="_blank">开发者社区</a></li>
        <li><a href="/price">价格</a></li>
      </ul>
      <ul>
        <h2>关于我们</h2>
        <li><a href="/about/aboutus">公司介绍</a></li>
        <li><a href="/about/joinus">加入我们</a></li>
        <li><a href="/about/contactus">联系我们</a></li>
        <li><a href="/about/terms">服务协议</a></li>
        <li><a href="/about/mediaReport">媒体报道</a></li>
		<li><a href="/about/partner">合作伙伴</a></li>

        
      </ul>
    </div>
  </div>
</div>
<!-- Footer End -->
<script type="text/javascript" src="/js/masklayer.js?t=1"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3e5b3453fdcff1e4dec124ea22f1e189' type='text/javascript'%3E%3C/script%3E"));
</script>
