<!-- Footer Start -->
<footer id="footer">
	<div id="online">
		<div class="container">
			<div class="col col-9">
				<div class="phone">咨询电话：400-036-8099</div>
				<div class="support">在线技术支持<br><em><script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzkzODAxMTUzM18xNTQ0NTdfNDAwMDM2ODA5OV8"></script></em></div>
			</div>
			<div class="col col-3"><a class="btn-r" href="/faq" target="_blank">帮助中心</a></div>
		</div>
	</div>
	<div id="footer-inner">
		<div class="container">
			<div class="col col-0">
				<a class="ico-2d" href="#wx-ico"></a>
				<a class="ico-wx" href="http://weibo.com/easemob" target="_blank"></a>
				<div class="wx-ico"><img src="/hx/files/images/wx-ico.png" alt="微信二维码"></div>
			</div>
			<div class="col col-2">
				<dl>
					<dt>联系我们</dt>
					<dd class="ico i1">咨询电话：400-036-8099</dd>
					<dd class="ico i2">商务合作：sales@easemob.com</dd>
					<dd class="ico i3">技术咨询：support@easemob.com</dd>
					<dd class="ico i4">技术交流群：260995529</dd>
					<dd class="ico i5">官方微博：http://weibo.com/easemob</dd>
					<dd class="ico i6">官方微信：easemob</dd>
				</dl>
			</div>
			<div class="col col-1">
				<dl>
					<dt>关于我们</dt>
					<dd><a href="/hx/about/aboutus.html">公司介绍</a></dd>
					<dd><a href="/hx/about/joinus.html">加入我们</a></dd>
					<dd><a href="/hx/about/media.html">媒体报道</a></dd>
					<dd><a href="/hx/about/partner.html">合作伙伴</a></dd>
				</dl>
			</div>
			<div class="col col-1">
				<dl>
					<dt>了解环信</dt>
					<dd><a href="/hx/function.html">功能</a></dd>
					<dd><a href="/hx/advantage.html">优势</a></dd>
					<dd><a href="/hx/user.html">案例</a></dd>
					<dd><a href="/hx/service">移动客服</a></dd>
					<dd><a href="/hx/price.html">价格</a></dd>
					<dd><a href="/hx/about/terms.html">服务协议</a></dd>
				</dl>
			</div>
			<div class="col col-1">
				<dl>
					<dt>集成环信</dt>
					<dd><a href="/demo">下载环信Demo</a></dd>
					<dd><a href="/sdk">下载环信SDK</a></dd>
					<dd><a href="/docs/gettingstart">文档</a></dd>
					<dd><a href="/faq">帮助中心</a></dd>
					<dd><a href="http://www.imgeek.org" target="_blank">开发者社区</a></dd>
				</dl>
			</div>
		</div>
		<div class="container">
			<div id="copyright">&copy; 2014 环信 京ICP备14026002号</div>
		</div>
	</div>
</footer>

<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3e5b3453fdcff1e4dec124ea22f1e189' type='text/javascript'%3E%3C/script%3E"));
</script>
