<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/gettingstart/#section-1">注册环信开发者账号</a></h3>
        <ul class="js-guides">
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/gettingstart/usersystem/">将环信和现有APP的用户体系集成</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/gettingstart/usersystem/#section-1">环信和用户体系集成概述</a></li>
          <li><a href="/docs/gettingstart/usersystem/#section-2">服务器端集成</a></li>
          <li><a href="/docs/gettingstart/usersystem/#section-3">客户端集成</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/gettingstart/friendsystem/">将环信和现有APP的好友体系集成</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/gettingstart/friendsystem/#section-1">服务器端集成</a></li>
          <li><a href="/docs/gettingstart/friendsystem/#section-3">客户端集成</a></li>
          <li><a href="/docs/gettingstart/friendsystem/#ios">iOS客户端操作好友列表</a></li>
          <li><a href="/docs/gettingstart/friendsystem/#android">Android客户端操作好友列表</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/gettingstart/#section-2">客户端集成</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/android/quickstart/">5分钟快速入门-android</a></li>
          <li><a href="/docs/android/quickstartUI/">5分钟快速入门-iOS</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->

</div><!-- /sidebar-shell -->
