<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta name="keywords" content="环信即时通讯云,环信,即时通讯,开源IM,移动IM,IM云," />
<!--
<meta name="keywords" content="环信,环信即时通讯,即时通讯云,融合通讯,即时通讯云服务,openfire,ejabberd,XMPP,MQTT,IM,开源IM,移动IM,IM SDK,IM云,IM云服务,huanxin,yigongchang,易工厂,易聊,环信SDK" />
-->
<meta name="description" content="环信是移动即时通讯能力的云服务商，让移动开发者摆脱繁重的移动IM通讯底层开发，快速拥有出色移动IM功能。"/>
<meta name="robots" content="all">
<meta property="qc:admins" content="5547407677651355726375" />
  <title><%= @item[:title] %></title>
 
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/slider.jquery.js"></script>
  <script type="text/javascript" src="/js/hxRelate.js"></script>
  <script>
  var _hmt = _hmt || [];
  </script>
</head>

