
<!-- Header Start -->
<div id="header">
  <div class="w990">
    <div class="logo">
      <a href="http://www.easemob.com">
        <img alt="环信即时通讯云" src="/img/e_logo.png">
      </a>
    </div>
    <div class="nav">
      <ul id="menu_topmenu" class="menu">
        <li class="menu-item menu-item-one">
          <a href="/">首页</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/docs/gettingstart/">文档</a>
        </li>
        <li class="menu-item menu-item-one">
            <a href="javascript:void(0);">下载</a>
            <ul class="sub-menu">
              <li class="menu-item">
                  <a href="/demo">下载环信demo</a>
              </li>
              <li class="menu-item">
                  <a href="/sdk">下载环信SDK</a>
              </li>
            </ul>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/faq">FAQ</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="http://faq.easemob.com/explore" target="_blank">开发者社区</a>
        </li>
        <li class="menu-item menu-item-one">
          <a href="/price">价格</a>
        </li>
      </ul>
    </div>
    <div class="login">

      <div class="nav_ntes">

        <a class="lg_btn" href="https://console.easemob.com/?comeFrom=easemobHome" target="_parent">注册</a>
        |
        <a class="lg_btn" href="https://console.easemob.com/" target="_parent">登录</a>

      </div>
    </div>
  </div>
</div><!-- Header End -->
<div class="opMaskLayer hide"></div>

<!--<div id="register_user" class="popWindow hide">
  <span class="pop_colsebtn"></span>
  <iframe src="http://console.easemob.com/" height="600" width="100%" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"></iframe>
</div>
<div id="sign" class="popWindow hide">
  <span class="pop_colsebtn"></span>
  <iframe src="http://console.easemob.com/" height="600" width="100%" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0"></iframe>
</div>-->
