<!-- Header Start -->
<header id="header">
	<div id="global-nav" class="nav">
		<div class="container">
			<div class="navbar-inner">
				<h1 id="logo"><a href="/hx/index.html">环信</a></h1>
				<button class="toggle"><span></span><span></span><span></span></button>
				<nav class="nav-inner">
					<ul>
						<li><a href="/hx/index.html">首页</a></li>
						<li class="nav-product"><a href="#">产品</a>
							<ul>
								<li><a href="/hx/function.html">功能</a></li>
								<li><a href="/hx/advantage.html">优势</a></li>
								<li><a href="/hx/service">移动客服</a><img src="/img/new.png" alt="new" /></li>
								<li><a href="/hx/price.html">价格</a></li>
							</ul>
						</li>
						<li><a href="/hx/user.html">案例</a></li>
						<li><a href="/docs/gettingstart">文档</a></li>
						<li><a href="#">下载</a>
							<ul>
								<li><a href="/demo">下载环信Demo</a></li>
								<li><a href="/sdk">下载环信SDK</a></li>
							</ul>
						</li>
						<li class="current"><a href="/Support">常见问题</a></li>
						<li><a href="http://www.imgeek.org" target="_blank">社区</a></li>
						<li><a href="http://blog.easemob.com" target="_blank">博客</a></li>
					</ul>
					<ul class="button-bar">
						<li><a class="button btn-reg" href="https://console.easemob.com/?comeFrom=easemobHome">注 册</a></li>
						<li><a class="button btn-login" href="https://console.easemob.com/">登 录</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
