<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>环信即时通讯云领导者</title>

	<meta name="description" content="">
	<meta name="author" content="easemob Ltd.">

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

	<link rel="stylesheet" href="/theme/css/allface.css">
	<link rel="stylesheet" href="/theme/css/easemob.css">

	<script src="/theme/js/jquery.min.js"></script>
	<script src="/theme/js/easemmob.js"></script>
	<!--[if lte IE 8]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../../theme/css/ie/v8.css">
	<script src="../../theme/css/ie/html5shiv.js"></script>
	<![endif]-->
</head>

