<div id="js-sidebar" class="sidebar-shell" style="55px">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/helps/errorcodes/">REST API常见错误码</a></h3>
        <ul class="js-guides"></ul>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/helps/androiderrorcode/">Android API常见错误码</a></h3>
        <ul class="js-guides"></ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
 
</div><!-- /sidebar-shell -->
