<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSPrepare/">集成SDK前的准备工作</a></h3>
        <ul class="js-guides">
            <li><a href="/docs/ios/xyj/IOSSDKPrepare/#registerDeveloper">注册开发者账号</a></li>
            <li><a href="/docs/ios/xyj/IOSSDKPrepare/#createApp">后台创建应用</a></li>
            <li><a href="/docs/ios/xyj/IOSSDKPrepare/#apnsCertificate">制作并上传推送证书</a></li>
        </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKIntegrated/">集成SDK</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKIntegrated/#downloadSdk">下载SDK</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKIntegrated/#projectSetting">配置工程</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKIntegrated/#projectBuild">编译工程</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKInit/">SDK初始功能集成</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKInit/#explainSdk">SDK目录讲解</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKInit/#initSdk">初始化SDK</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKInit/#register">注册</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKInit/#login">登录</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKInit/#reconnect">重连</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKInit/#logout">退出</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKChat/">聊天</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKChat/#message">消息</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKChat/#conversation">会话</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKChat/#chat">单聊/群聊</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKChat/#chat2">聊天扩展功能</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKGroup/">群组操作</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#createGroup">创建群组</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#joinGroup">加入群组</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#exitGroup">退出群组</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#destroyGroup">解散群组</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#removeMember">移除群成员</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#blockMember">加入群黑名单</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#editGroup">修改群组属性</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#editGroup2">修改群组附属属性</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKGroup/#fetchGroupList">获取群组列表</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKApns/">apns离线推送</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKApns/#apnsCondition">必备条件</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKApns/#apnsGlobal">全局apns操作</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKApns/#apnsGroup">群组apns操作</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSSDKBuddy/">好友关系</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/xyj/IOSSDKBuddy/#getbuddylist">获取好友列表</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKBuddy/#addbuddy">添加好友</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKBuddy/#removebuddy">删除好友</a></li>
              <li><a href="/docs/ios/xyj/IOSSDKBuddy/#blocklist">好友黑名单</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/releaseNote2_1_4/">release note</a></h3>
          <ul class="js-guides">
              <!-- <li><a href="/docs/ios/xyj/releaseNote2_1_4">SDK2.1.4</a></li> -->
              <li><a href="/docs/ios/xyj/releaseNote2_1_3">SDK2.1.3 ~ 2.1.3r3</a></li>
              <li><a href="/docs/ios/xyj/releaseNote2_1_2/">SDK2.1.2</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/xyj/IOSQA/">SDK QA</a></h3>
      </li>
   </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
