<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKPrepare/">集成SDK前的准备工作</a></h3>
        <ul class="js-guides">
            <li><a href="/docs/ios/IOSSDKPrepare/#registerDeveloper">注册开发者账号</a></li>
            <li><a href="/docs/ios/IOSSDKPrepare/#createApp">后台创建应用</a></li>
            <li><a href="/docs/ios/IOSSDKPrepare/#apnsCertificate">制作并上传推送证书</a></li>
        </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKIntegrated/">集成IOS SDK</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKIntegrated/#downloadSdk">下载SDK</a></li>
              <li><a href="/docs/ios/IOSSDKIntegrated/#explainSdk">SDK目录讲解</a></li>
              <li><a href="/docs/ios/IOSSDKIntegrated/#projectSetting">配置工程</a></li>
              <li><a href="/docs/ios/IOSSDKIntegrated/#projectBuild">编译工程</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKInit/">集成SDK基础功能</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKInit/#initSdk">初始化SDK</a></li>
              <li><a href="/docs/ios/IOSSDKInit/#register">注册</a></li>
              <li><a href="/docs/ios/IOSSDKInit/#login">登录</a></li>
              <li><a href="/docs/ios/IOSSDKInit/#autologin">自动登录</a></li>
              <li><a href="/docs/ios/IOSSDKInit/#reconnect">重连</a></li>
              <li><a href="/docs/ios/IOSSDKInit/#logout">退出</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKMessage/">消息</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKMessage/#textalloc">文字消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#imagealloc">图片消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#locationalloc">位置消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#audioalloc">语音消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#videoalloc">视频消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#filealloc">文件消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#cmdalloc">透传消息构造</a></li>
              <li><a href="/docs/ios/IOSSDKMessage/#ext">自定义消息扩展</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKConversation/">会话</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKConversation/#create">新建/获取一个会话</a></li>
              <li><a href="/docs/ios/IOSSDKConversation/#removeconversation">删除会话</a></li>
              <li><a href="/docs/ios/IOSSDKConversation/#getconversations">获取会话列表</a></li>
              <li><a href="/docs/ios/IOSSDKConversation/#getconversationunread">获取会话未读消息数</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKChat/">聊天</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKChat/#sendmessage">发送消息</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#receiveofflinemessage">接收离线消息</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#receiveonlinemessage">接收在线消息</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#unreadmessage">监听消息未读数变化</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#resolvemessage">解析普通消息</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#resolvecmdmessage">解析透传消息</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#resolveext">解析消息扩展属性</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#downloadthumbnail">自动下载消息中的附件</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#downloadmessage">下载消息中的原始附件</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#deliveryack">消息已送达回执</a></li>
              <li><a href="/docs/ios/IOSSDKChat/#hasreadresponse">消息已读回执</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKGroup/">群组管理</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKGroup/#createGroup">创建群组</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#joinGroup">加入群组</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#exitGroup">退出群组</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#destroyGroup">解散群组</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#removeMember">移除群成员</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#blockMember">加入群黑名单</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#editGroup">修改群组属性</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#editGroup2">修改群组附属属性</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#fetchMyGroupList">获取与登录者相关群组列表</a></li>
              <li><a href="/docs/ios/IOSSDKGroup/#fetchPublicGroupList">获取公开群组列表</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKApns/">apns离线推送</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKApns/#apnsCondition">必备条件</a></li>
              <li><a href="/docs/ios/IOSSDKApns/#apnsGlobalFetch">获取全局apns配置</a></li>
              <li><a href="/docs/ios/IOSSDKApns/#apnsGlobalSet">设置apns全局配置</a></li>
              <li><a href="/docs/ios/IOSSDKApns/#apnsGlobalNick">单独设置apns昵称</a></li>
              <li><a href="/docs/ios/IOSSDKApns/#apnsGroupSet">设置指定群组是否接收apns</a></li>
              <li><a href="/docs/ios/IOSSDKApns/#apnsGroupFetch">获取不接收apns的群组id</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKBuddy/">好友管理</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/IOSSDKBuddy/#getbuddylist">获取好友列表</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#addbuddy">发送加好友申请</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#receiverbuddyrequest">收到加好友请求</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#agreebuddyrequest">同意加好友请求</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#rejectbuddyrequest">拒绝加好友请求</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#handlebuddyresponse">好友申请处理结果回调</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#removebuddy">删除好友</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#blocklist">获取好友黑名单</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#addblock">加入黑名单</a></li>
              <li><a href="/docs/ios/IOSSDKBuddy/#removeblock">移出黑名单</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/IOSSDKCallAudio/">实时语音</a></h3>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/releaseNote2_1_4/">release note</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/releaseNote2_1_4">SDK2.1.4</a></li>
              <li><a href="/docs/ios/releaseNote2_1_3">SDK2.1.3 ~ 2.1.3r3</a></li>
              <li><a href="/docs/ios/releaseNote2_1_2/">SDK2.1.2</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/apiDocs/IOSSDKAPIChatManager/">Apple Doc</a></h3>
          <ul class="js-guides">
              <li><a href="/docs/ios/apiDocs/IOSSDKAPIChatManager/">EMChatManager</a></li>
              <li><a href="/docs/ios/apiDocs/IOSSDKAPIDeviceManager/">EMDeviceManager</a></li>
              <!-- <li><a href="/docs/ios/apiDocs/IOSSDKAPIPushManager/">EMPushManager</a></li> -->
              <li><a href="/docs/ios/apiDocs/IOSSDKAPICallManager/">EMCallManager</a></li>
              <li><a href="/docs/ios/apiDocs/IOSSDKAPIErrorManager/">Error列表</a></li>
          </ul>
      </li>
     <li class="js-topic">
       <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/iOSQA/">常见错误</a></h3>
       <ul class="js-guides">
         <li><a href="/docs/ios/iOSQA/#init">集成报错</a></li>
         <li><a href="/docs/ios/iOSQA/#chat">无法收到消息</a></li>
         <li><a href="/docs/ios/iOSQA/#addBuddy">无法收到加好友请求</a></li>
         <li><a href="/docs/ios/iOSQA/#notification">无法收到推送</a></li>
         <li><a href="/docs/ios/iOSQA/#autoLogin">无法自动登录</a></li>
         <li><a href="/docs/ios/iOSQA/#getConversationList">app启动时无法获取历史会话</a></li>
       </ul>
     </li>
   </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
