<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/ChatDemo_UI/">5分钟快速入门UIDemo</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/push/certificate/">制作推送证书</a></h3>
      </li>
	  <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/ios/">iOS开发指南</a></h3>
         <ul class="js-guides">
			<li><a href="/docs/ios/ios/#downloadsdk">下载SDK</a></li>
			<li><a href="/docs/ios/ios/#createappkey">创建应用</a></li>
			<li><a href="/docs/ios/ios/#uploadp12">上传推送证书</a></li>
			<li><a href="/docs/ios/ios/#attention">注意事项</a></li>
          </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/ios/#integrate">集成演示</a></h3>
          <ul class="js-guides">
			<li><a href="/docs/ios/ios/#createapp">创建项目</a></li>
			<li><a href="/docs/ios/ios/#integratesdk">集成SDK</a></li>
			<li><a href="/docs/ios/ios/#initsdk">初始化SDK</a></li>
          </ul>
      </li>
   	<li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/ios/#analysissdk">SDK详解</a></h3>
      </li>
         <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/ios/#integrate">使用实例</a></h3>
          <ul class="js-guides">
			<li><a href="/docs/ios/ios/#registerandLogin">注册登录</a></li>
			<li><a href="/docs/ios/ios/#buddy">好友管理</a></li>
			<li><a href="/docs/ios/ios/#blocklist">黑名单</a></li>
			<li><a href="/docs/ios/ios/#group">群组</a></li>
			<li><a href="/docs/ios/ios/#im">IM</a></li>
			<li><a href="/docs/ios/ios/#apns">推送设置</a></li>
          </ul>
      </li>
      <li class="js-topic">
          <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/payload/">消息透传</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/apidoc/ios/chat/">Apple Doc</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/demo/">Demo及SDK下载</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/ios/iOSQA/">常见错误</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/ios/iOSQA/#init">集成报错</a></li>
          <li><a href="/docs/ios/iOSQA/#chat">无法收到消息</a></li>
          <li><a href="/docs/ios/iOSQA/#addBuddy">无法收到加好友请求</a></li>
          <li><a href="/docs/ios/iOSQA/#notification">无法收到推送</a></li>
          <li><a href="/docs/ios/iOSQA/#autoLogin">无法自动登录</a></li>
          <li><a href="/docs/ios/iOSQA/#getConversationList">app启动时无法获取历史会话</a></li>
        </ul>
      </li>
      

    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
