<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/kefu/">使用说明</a></h3>
        <ul class="js-guides">        
          <!--<li><a href="/docs/rest/#rest">环信服务器端REST平台概述</a></li>
          <li><a href="/docs/rest/#arch">环信服务器基本架构</a></li>
	  	  <li><a href="#section-3">示例代码</a></li>-->
        </ul>
      </li>
		<li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/kefu/CRMIntergration">集成指南</a></h3>
        <ul class="js-guides">        
          <!--<li><a href="/docs/rest/#rest">环信服务器端REST平台概述</a></li>
          <li><a href="/docs/rest/#arch">环信服务器基本架构</a></li>
	  	  <li><a href="#section-3">示例代码</a></li>-->
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
 
</div><!-- /sidebar-shell -->
