<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/">入门</a></h3>
        <ul class="js-guides">        
          <li><a href="/docs/rest/#rest">环信服务器端REST平台概述</a></li>
          <li><a href="/docs/rest/#arch">环信服务器基本架构</a></li>
	  			<li><a href="#section-3">示例代码</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/userapi/">用户体系集成</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/rest/userapi/#schema">数据结构</a></li>
          <li><a href="/docs/rest/userapi/#eid">环信ID规则</a></li>
          <li><a href="/docs/rest/userapi/#getadmintoken">获取APP管理员Token</a></li>
          <li><a href="/docs/rest/userapi/#im">注册IM用户[单个]</a></li>
          <li><a href="/docs/rest/userapi/#im-1">注册IM用户[批量]</a></li>
          <li><a href="/docs/rest/userapi/#im-2">获取IM用户[单个]</a></li>
          <li><a href="/docs/rest/userapi/#im-3">获取IM用户[批量]</a></li>
          <li><a href="/docs/rest/userapi/#im-5">删除IM用户[单个]</a></li>
	    	  <li><a href="/docs/rest/userapi/#im-6">删除IM用户[批量]</a></li>
	    	  <li><a href="/docs/rest/userapi/#resetpassword">重置IM用户密码</a></li>
		  		<li><a href="/docs/rest/userapi/#nickname">修改用户昵称</a></li>
	    	  <li><a href="/docs/rest/userapi/#contactsfriend">给IM用户的添加好友</a></li>
		  		<li><a href="/docs/rest/userapi/#delfriend">解除IM用户的好友关系</a></li>
		  		<li><a href="/docs/rest/userapi/#queryfriend">查看IM用户的好友</a></li>
		  		<li><a href="/docs/rest/userapi/#blocksusers">获取IM用户的黑名单</a></li>
		  		<li><a href="/docs/rest/userapi/#addblocksusers">往IM用户的黑名单中加人</a></li>
		  		<li><a href="/docs/rest/userapi/#delblocksusers">从IM用户的黑名单中减人</a></li>
          <li><a href="/docs/rest/sendmessage/#status">查看用户在线状态</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/chatmessage/">导出聊天记录</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/rest/chatmessage/#schema">聊天记录数据结构</a></li>
          <li><a href="/docs/rest/chatmessage/#export-message">导出聊天消息</a></li>
          <li><a href="/docs/rest/chatmessage/#download">导出语音图片文件</a></li>
					<li><a href="/docs/rest/chatmessage/#msgcount">获取离线消息数</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/files/">文件上传下载</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/rest/files/#upload">上传文件</a></li>
          <li><a href="/docs/rest/files/#download">下载文件</a></li>
          <li><a href="/docs/rest/files/#thumbinal">下载缩略图</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/sendmessage/">发送消息</a></h3>
        <ul class="js-guides">
          <li><a href="/docs/rest/sendmessage/#sendmsg">发送文本消息</a></li>
				  <li><a href="/docs/rest/sendmessage/#sendimgmsg">发送图片消息</a></li>
				  <li><a href="/docs/rest/sendmessage/#sendvoicemsg">发送语音消息</a></li>
				  <li><a href="/docs/rest/sendmessage/#sendvideomsg">发送视频消息</a></li>
				  <li><a href="/docs/rest/sendmessage/#sendpayloadmsg">发送透传消息</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/rest/groups/">群组管理</a></h3>
        <ul class="js-guides">
        	<li><a href="/docs/rest/groups/#datastruct">群组数据结构</a></li>
          <li><a href="/docs/rest/groups/#getallgroups">获取所有的群组</a></li>
          <li><a href="/docs/rest/groups/#getgroups">获取群组详情</a></li>
          <li><a href="/docs/rest/groups/#create">创建群组</a></li>
	        <li><a href="/docs/rest/groups/#update">修改群组信息</a></li>
          <li><a href="/docs/rest/groups/#delete">删除群组</a></li>
          <li><a href="/docs/rest/groups/#users">获取群组成员</a></li>
          <li><a href="/docs/rest/groups/#addmember">群组加人</a></li>
          <li><a href="/docs/rest/groups/#deletemember">群组减人</a></li>
	  			<li><a href="/docs/rest/groups/#joinedchatgroups">用户参与的所有群组</a></li>
	  			<li><a href="/docs/rest/groups/#addmemberbatch">群组批量添加成员</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
 
</div><!-- /sidebar-shell -->
