<div class="sub-nav">
  <h2><!--<a href="/docs/emchat/">API</a>--></h2>
  <ul>
    <li>
      <a href="/docs/gettingstart/" <% if @item[:secondnavgettingstart] %> class="active"<% end %> >
        入门指南
      </a>
    </li>
    <li>
      <a href="/docs/android/" <% if @item[:secondnavandroid] %>class="active"<% end %> >
        Android
      </a>
    </li>
    <li>
      <a href="/docs/ios/" <% if @item[:secondnavios] %>class="active"<% end %>>
        iOS
      </a>
    </li>
    <li>
      <a href="/docs/webim/" <% if @item[:secondnavwebim] %>class="active"<% end %>>
        webIM
      </a>
    </li>
    <li>
      <a href="/docs/rest/" <% if @item[:secondnavrest] %>class="active"<% end %>>
        REST API
      </a>
    </li>
  </ul>
</div>
