
<!-- Header Start -->
<div class="header">
	<div class="inr">
		<h2 class="logo">
		    <a title="点击回到首页" href="/">环信即时云</a>
		</h2>
		<ul class="nav">
			<li class="sign signup">
			    <a href="#faq_form">提交问题</a>
			</li>
			<li class="sign signin">
			    <a href="http://support.easemob.com/access/login?theme=hc&hc=true&force_unaltered_return_to=true&return_to=http%3A%2F%2Fsupport.easemob.com%2Fhc%2Fzh-cn&locale=10" tabindex="1">登录</a>
			</li>
		</ul>
	</div>
</div>
	<!--header end-->
<div class="opMaskLayer hide"></div>
