<div id="js-sidebar" class="sidebar-shell">
	<div class="js-toggle-list sidebar-module expandable">
		<ul>
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a href="/docs/webim/">WebIM介绍</a>
				</h3>
			</li>
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/quickstartinapp/#quickstartinapp">集成方式</a>
				</h3>
				<ul class="js-guides">
					<li><a href="/docs/webim/quickstartinapp/#conn_new">创建连接</a></li>
					<li><a href="/docs/webim/quickstartinapp/#login">登录</a></li>
					<li><a href="/docs/webim/quickstartinapp/#sendTextMessage">发送文本消息</a></li>
					<li><a href="/docs/webim/quickstartinapp/#getRoster">获取好友列表</a></li>
					<li><a href="/docs/webim/quickstartinapp/#onTextMessage">收到文本消息处理方法</a></li>
					<li><a href="/docs/webim/quickstartinapp/#subscribe">添加好友</a></li>
					<li><a href="/docs/webim/quickstartinapp/#removeRoster">删除好友</a></li>
					<li><a href="/docs/webim/quickstartinapp/#onClosed">关闭连接</a></li>
				</ul>
			</li>
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/quickstart/#single_chat">单聊</a>
				</h3>
				<ul class="js-guides">
					<li><a href="/docs/webim/quickstart/#getRoster">查询好友列表</a></li>
					<li><a href="/docs/webim/quickstart/#subscribe">添加好友</a>
						<ul class="js-guides">
							<li><a href="/docs/webim/quickstart/#addFriend">申请添加对方为好友</a></li>
							<li><a href="/docs/webim/quickstart/#agreed_reject">同意或者拒绝</a></li>
							<li><a href="/docs/webim/quickstart/#delfriend">删除好友</a></li>
						</ul></li>
					<li><a href="/docs/webim/quickstart/#sendTextMessage">发送文本(表情)</a></li>
					<li><a href="/docs/webim/quickstart/#sendPic">发送图片消息</a></li>
					<li><a href="/docs/webim/quickstart/#sendAudio">发送音频消息</a></li>
					<li><a href="/docs/webim/quickstart/#subscribe">接收消息</a>
						<ul class="js-guides">
							<li><a href="/docs/webim/quickstart/#onmessage">注册接收消息</a></li>
							<li><a href="/docs/webim/quickstart/#options">处理消息</a></li>
							<li><a href="/docs/webim/quickstart/#history_message">历史消息</a></li>
							<li><a href="/docs/webim/quickstart/#new_message">新消息提示</a></li>
						</ul></li>
				</ul>
			</li>
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/quickstart/#group_chat">群聊</a>
				</h3>
				<ul class="js-guides">
					<li><a href="/docs/webim/quickstart/#queryOccupants">查询群组成员</a></li>
					<li><a href="/docs/webim/quickstart/#group_sendTextMessage">发送文本(表情)</a></li>
					<li><a href="/docs/webim/quickstart/#group_sendPic">发送图片消息</a></li>
					<li><a href="/docs/webim/quickstart/#sendPic">发送图片消息</a></li>
					<li><a href="/docs/webim/quickstart/#group_sendAudio">发送音频消息</a></li>
					<li><a href="/docs/webim/quickstart/#messageType">接收及处理消息</a></li>
				</ul>
			</li>
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/quickstart/#quit">退出</a>
				</h3>
			</li>
			
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/quickstart/#sdk_tools">工具类说明</a>
				</h3>
				<ul class="js-guides">
					<li><a href="/docs/webim/quickstart/#emotion">表情工具类</a></li>
					<li><a href="/docs/webim/quickstart/#base64">Base64工具类</a></li>
					<li><a href="/docs/webim/quickstart/#fileupload">文件上传工具类</a></li>
					<li><a href="/docs/webim/quickstart/#handleMotion">表情解析工具类</a></li>
					<li><a href="/docs/webim/quickstart/#fileupdate">文件上传工具类</a></li>
					<li><a href="/docs/webim/quickstart/#ajaxresquest">发送Ajax请求</a></li>
					<li><a href="/docs/webim/quickstart/#sdk_login">登录</a></li>
					<li><a href="/docs/webim/quickstart/#null_function">内置空函数</a></li>
					
				</ul>
			</li>
			
			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a
						href="/docs/webim/index/#browsersupport">浏览器支持</a>
				</h3>
			</li>

			<li class="js-topic">
				<h3>
					<a href="#" class="js-expand-btn collapsed arrow-btn"
						data-proofer-ignore></a><a href="/docs/webim/quickstartinapp/#faq">常见问题列表</a>
				</h3>
			</li>
		</ul>
	</div>
	<!-- /sidebar-module -->
</div>
<!-- /sidebar-shell -->
