<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section">初始化</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section-4">聊天</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section-12">好友</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section-17">群组</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section-19">工具</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/#section-20">浏览器支持</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/quickstart">快速入门</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/docs/webim/quickstartinapp">集成方式</a></h3>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
</div><!-- /sidebar-shell -->
